[2020-12-07 11:23] DemianTinkiel commented on #4281
I get the same outcome using  the example from https://dataflow.spring.io/docs/feature-guides/streams/java-dsl/#java-dsl-styles

[2020-12-07 18:15] #4257 closed

[2020-12-08 10:46] jvalkeal opened #4282 "Upgrade boot 2.4.x"
Epic for work around Boot 2.4.x upgrade and follow-up issues.

[2020-12-08 12:40] jvalkeal opened #4283 "Follow up security auto-config changes"
With boot 2.4.x we're starting to get some failures with:
[code]
For reason not yet fully understood is that we need to add excludes to some tests:
[code]
Doesn't seem to affect actual servers but for some reason things work differently with tests.

[2020-12-08 13:42] jvalkeal opened #4284 "Fix boot 2.4.0 migration changes"
Some minor things, like follow-up #4283

[2020-12-08 13:50] #4284 closed

[2020-12-08 16:03] cppwfs commented on #4279
Thank you @hpoettker for raising this issue and resolving it!

[2020-12-08 16:03] #4279 closed

[2020-12-09 05:33] deepak5127 commented on #3583
@ilayaperumalg  I have created a Event listener for InteractiveAuthenticationSuccessEvent and able to successfully create an Audit entry.
Shall I
![ss](https://user-images.githubusercontent.com/360576/101589313-0915bb80-399d-11eb-9738-1539aec41b51.jpg)
 create a pull request ?

[2020-12-09 05:42] ilayaperumalg commented on #3583
Hi @deepak5127

Sorry, I missed this. Not sure what approach you have taken now. Looking forward to see your PR.

Yes, please go ahead and submit a pull request. Thank you for your contribution and patience!

[2020-12-11 08:37] jvalkeal commented on #4265
Removed the `ctr1` part from an impl plan as it's not needed as we're already on launch context of a `ctr1`.

[2020-12-11 10:50] louispool opened #4286 "SCDF doesn't work with PostgreSQL in SERIALIZABLE mode"
**Describe the problem**

I posted a question on Stackoverflow here: [https://stackoverflow.com/questions/65126245/violation-of-foreign-key-constraint-in-task-metadata-fk-when-launching-a-task](https://stackoverflow.com/questions/65126245/violation-of-foreign-key-constraint-in-task-metadata-fk-when-launching-a-task)

I'm trying to launch Spring Cloud Data Flow with CockroachDB as the underlying pe

[2020-12-11 12:50] jvalkeal commented on #4226
Might not be a bad idea at all. We should probably do a wider poc for generic observability/tracing features. I'd really appreciate to more easily to see and trace a problem when things go south in a complex environment(as sooner or later something always goes wrong).

[2020-12-11 18:46] sabbyanandan opened #4287 "Fix Metrics/Grafana configuration in Bitnami chart"
The config changes have evolved in 2.7, so the following template in the helm chart needs to be changed also.

https://github.com/bitnami/charts/blob/ba142bd157254c1bf605406815212a8964d2776f/bitnami/spring-cloud-dataflow/templates/server/configmap.yaml#L57-L80

https://github.com/bitnami/charts/blob/ba142bd157254c1bf605406815212a8964d2776f/bitnami/spring-cloud-dataflow/templates/server/configmap.y

[2020-12-13 14:27] deepak5127 commented on #3826
@ilayaperumalg @tzolov shall I work on this ?

[2020-12-14 05:13] ilayaperumalg commented on #4286
@louispool Thanks for the detailed report on this! Please let us know if you would like to contribute by fixing this issue. We would be glad to help you in answering any questions you may have in fixing this.

[2020-12-14 09:25] louispool commented on #4286
Hi @ilayaperumalg sure I can try and fix this. I may need some help though in designing a unit test to test the functionality. Do you have a space somewhere for direct messaging?

[2020-12-15 16:10] louispool commented on #4286
@ilayaperumalg I have analyzed the problem and I believe the solution will involve refactoring of `JdbcDataflowTaskExecutionDao` (or an implementation of `DataflowTaskExecutionDao`) to respect transaction isolation. This seems like a fairly large change and I would appreciate it if you could get back to me on some mechanism we can communicate on higher bandwidth than commenting in a ticket.

[2020-12-15 18:25] ilayaperumalg commented on #4286
@louispool Sorry about the delay. Most of us in SCDF team is(will be) on vacation and one of us can try to help in this. Meanwhile, would you mind starting a minimal thread here to get you started with some of the questions or comments you have on this. I understand that it would be nice to have direct messages but to avoid further delay, let's get started with the discussion here.
@cppwfs @jvalke

[2020-12-15 18:38] dturanski opened #4289 "Retire deprecated dataflow property metadata file names"
See https://github.com/spring-cloud/spring-cloud-dataflow/issues/4053

Code and documentation

[2020-12-15 18:50] jvalkeal commented on #4286
Claiming a support for CockroachDB also means it should work with `spring-cloud-task` as well as database is also accessed from tasks. Some of these task related tables are currently accesses with crafting good ol' sql's and it's been a long backlog discussion to move over to JPA(it'd be a bit of a task and not sure when we find time for it).

[2020-12-15 18:55] louispool commented on #4286
@jvalkeal that's also what confused me - if the tasks were managed via JPA then the transaction manager would take care of the isolation level of the transactions. But it looks to me as though the *Dao classes are using direct JDBC template queries.

[2020-12-15 18:57] louispool commented on #4286
Thanks @ilayaperumalg . I think we're also dealing with a fairly large time zone difference.

[2020-12-16 01:10] sabbyanandan opened #4290 "Spike: Explore SCGw <-> SCDF Interop"
As we continue to see requirements for request/reply-based API trigger kicking-off a data pipeline for downstream data processing, it'd be good to explore the options as to how to support the following use-cases.

- users would like to set up an API call in SCGw, which would kick-off a streaming data pipeline (in SCDF) that would publish the received data to a topic
- users would like to set up an

[2020-12-16 10:41] louispool commented on #4286
A simple work-around is to remove the transactional requirement for `Propagation = REQUIRES_NEW` from `createTaskExecution` in `DefaultTaskExecutionRepositoryService`. This has the affect that the creation of the task manifest can be nested in the same transaction as the creation of the task. The drawback of course is that, if a rollback occurs during creation of the task manifest, the creation of

[2020-12-16 11:21] jvalkeal commented on #4286
It looks like that propagation was added with #2692. Maybe we should try delay actual task launch, and possible not do that within a transaction as then we would not to have this trick to force something into DB so that a remote `task` actually sees what it expects.

Most likely it was done like this to clear things out if task launch fails fast but this indeed complicates things.

[2020-12-16 11:21] umutcann opened #4291 "Task status is Unknown when using exec as entry point style"
Hi,

While using shell as entry point style, If batch kubernetes pod has finished error, task status is error like below.

![image](https://user-images.githubusercontent.com/18632831/102341469-f1e05a80-3fa8-11eb-880d-e3cd1f9e031f.png)

But we want to launch task using exec due to restart problem in the [case](https://github.com/spring-cloud/spring-cloud-dataflow/issues/4199).

And when we try to l

[2020-12-16 13:27] cppwfs commented on #4291
It looks like the Task failed to start.   Check your task's log, to see if it threw an exception.   If there is no Pod for the task, check SCDF's log to see if there is an exception when attempting to launch the task.   If this can't provide you the information you need to resolve the problem you can share the logs with us.   Also what version of SCDF are your using?

[2020-12-16 14:49] louispool commented on #4286
Yes, so as you pointed out in an earlier comment; to ensure transaction isolation we would also need to specify the propagation for the creation and updates to tasks in `spring-cloud-task-core`. I run into `org.springframework.dao.CannotSerializeTransactionException` on those operations if I explicitly set the isolation level on the updating of Task Manifests.

So at this point I see two options:

[2020-12-16 15:47] dturanski commented on #4289
@sabbyanandan - At the standup, we confirmed the decision to not retire any previous file names since it would break user apps when they upgrade to 2.8.

[2020-12-16 16:16] sabbyanandan commented on #4289
@dturanski: The goal is to deprecate and announce it, and remove it in the next minor or later, right? Curious why it is not possible.

[2020-12-16 17:32] DemianTinkiel opened #4292 "Support for env variables, volumes and port mappings in SCDF local deployment"
**Problem description:**
Originally asked in [stack overflow](https://stackoverflow.com/questions/65201418/spring-cloud-data-flow-java-dsl-container-properties?noredirect=1#comment115414942_65201418):
I'd like to be able to specify

- volumes mounted to container
- Ports mapped to container
- Environment variables passed to container

for a stream app within a local docker-compose deployment of SC

[2020-12-16 18:49] dturanski commented on #4289
They old file names are already deprecated since 2.6 (I think). Currently there is a log message.   Removing completely. it would mean that some users would need to change the filename in their apps or else properties completion, validation, etc. would behave differently.  We should update the reference docs though.

[2020-12-17 07:11] deepak5127 commented on #3826
@ilayaperumalg @tzolov Just following up to see if this is still open to contribute

[2020-12-17 09:54] tzolov commented on #4253
@sabbyanandan can we close this issue?

[2020-12-17 11:01] tzolov commented on #3826
@ilayaperumalg yes it still open and imo it is an easy fix.

[2020-12-17 11:04] deepak5127 commented on #3826
Ok. I will start working on this.

[2020-12-17 17:22] #4275 closed

[2020-12-17 18:20] radu-almasan opened #4293 "Restarting Skipper container makes stream redeployment impossible"
**Description:**
When using Docker Compose to run Spring Cloud DataFlow locally, if the Skipper container is restarted while a stream is deployed the applications are still visible in the Runtime section but with status "Unknown", without any way of removing them. This blocks the redeployment of the stream, DataFlow throwing the following exception in the log:

<details>
    <summary>Dataflow Serv

[2020-12-17 19:46] sabbyanandan commented on #4293
Hi, @radu-almasan. It appears you're using the stock Docker Compose without any customization. In that setup, could you confirm you're using MySQL for both SCDF and Skipper? You should be able to see that in Skipper startup logs. If in-memory storage is used, and when Skipper or SCDF restarts, the state won't be retained, so things would fall apart. So, let's confirm this first.

[2020-12-17 20:42] radu-almasan commented on #4293
Yes, using MySQL:

    2020-12-17 20:24:42.254  INFO 1 --- [           main] o.f.c.internal.database.DatabaseFactory  : Database: jdbc:mysql://mysql:3306/dataflow (MySQL 5.7)

[2020-12-17 22:06] jvalkeal commented on #4293
Could you post startup log and that specific error in skipper as well. We've seen many times misconfiguration with skipper that it uses embedded DB which doesn't persist anything with restart.

[2020-12-17 22:39] radu-almasan commented on #4293
[skipper.log](https://github.com/spring-cloud/spring-cloud-dataflow/files/5712513/skipper.log)
[dataflow-server.log](https://github.com/spring-cloud/spring-cloud-dataflow/files/5712515/dataflow-server.log)

[2020-12-17 23:13] sabbyanandan commented on #4253
Thanks for checking!

[2020-12-17 23:13] #4253 closed

[2020-12-18 09:37] jvalkeal commented on #4293
Ah yeah I think we should communicate these states better as this is equivalent of a platform problem. I get same "error" with cloudfoundry when I manually delete my stream apps(in a platform itself) and skipper as it should still thinks stream is deployed:
[code]
With local you see this every time because those stream apps are run in skipper container and goes byebye with container restart.

You

[2020-12-18 12:21] tzolov commented on #3826
Hi @deepak5127 , just for as a head start, you can ignore my old comment above as this code is already part of SCDF.

You can look for the `ContainerRegistryService`, which already provides a `getTags(...)` method and try to use it inside the `DefaultValidationService` implementation as a mean to interact with the container registry.

[2020-12-18 14:09] DemianTinkiel commented on #4281
I did some further experiments on this and I can get around it with this (ugly hack)
[code]
It seems there is a default behaviour when `content-type` is not defined. I suspect it has something to do with [this](https://stackoverflow.com/questions/44762794/java-spring-resttemplate-sets-unwanted-headers)

[2020-12-18 14:24] DemianTinkiel commented on #4124
:+1:  on this improvement. Specially with podman gaining traction (even though podman is capable of reading docker images, I think there is a  difference in image format)

[2020-12-18 16:23] DemianTinkiel commented on #3826
@tzolov May I suggest delegating to the underlying container implementation instead on doing talking to the docker registry directly? Particularly if you want to support non-docker images as in #4124
docker has a [manifest command](https://docs.docker.com/engine/reference/commandline/manifest/) (requires experimental flag enabled)
podman has an [equivalent command](http://docs.podman.io/en/latest/

[2020-12-18 20:43] trisberg opened #4294 "Make it possible to register multiple imagePullSecrets"
**Problem description:**

Currently we can only specify one imagePullSecret for skipper:

[code]

and data flow:

[code]

**Solution description:**

We would need to be able to specify multiple since stream and task apps could be pulled from multiple registries

**Description of alternatives:**

Combining registry auths in single secret - not well supported by Kubernetes tooling.

**Additional con

[2020-12-21 07:02] umutcann commented on #4291
Hi @cppwfs

We are using 2.7.0-RC1 version. There are pods on kubernetes for both shell and exec. And two of them are failing same error.

Let me clarify something. I am trying to test restart task capability of scdf. So I'm generating error for task intentionally.

When I used shell as entry point style as shell, I am able to see failed step and exit message like below.

![image](https://user-ima

[2020-12-21 16:05] sadovnikov opened #4295 "SCDF server fails to access docker hub behind HTTP proxy"
**Description:**
With version 2.5.3 setting `https.proxyHost`, `https.proxyPort` and `http.nonProxyHosts` system properties was enough to let the server to talk outside. For example, it could retrieve metadata of docker images in Docker Hub.

We are testing 2.7.0 now and this is not enough anymore. `ApplicationConfigurationMetadataResolver` catches `Connection timed out` exception on opening of `/

[2020-12-21 16:38] sabbyanandan commented on #4293
Thanks for the findings, @jvalkeal.

@radu-almasan: This is yet another reason we recommend the use of a container platform like Kubernetes in higher-level environments, including staging and production. The local implementation of SCDF and the Docker Compose equivalent is suited only for rapid experimentation in the development environment.

There are no resiliency measures baked into the local v

[2020-12-21 16:38] #4293 closed

[2020-12-21 16:40] sabbyanandan commented on #4287
Addressed via https://github.com/bitnami/charts/pull/4752.

[2020-12-21 16:40] #4287 closed

[2020-12-21 17:53] tzolov commented on #4295
@sadovnikov thanks for  reporting this!

**Some context:**
With SCDF 2.5.3 (and older) the app metadata (e.g. their properties) for the jar and docker apps was bundled in separate jars and served from a Maven repository.
In the SCDF 2.7+ this is still true for the jar SCDF applications, but for the apps coming form container images, the metadata is bundled inside the images themself (as config lab

[2020-12-21 20:51] cppwfs commented on #4291
Hello @umutcann Can you provide a sample app that displays this failure so I can retry it on my side.
Also how are you building your container for the application?

[2020-12-22 10:14] Baykonur commented on #4295
@tzolov , thanks for the quick return. I work with @sadovnikov and our Network Team came up with the following reply:

[2020-12-22 11:19] sadovnikov commented on #4295
@tzolov, thanks for picking this up! The bug is indeed is not about applications, but about SCDF itself failing to reach the Container Registry. We run SCDF in Kubernetes and all applications come from docker images. They use Uri-s like `docker://springcloudstream/file-source-kafka:2.1.4.RELEASE`.

I traced the exception and found that `DockerOAuth2RegistryAuthorizer` uses Rest Template, which doe

[2020-12-22 14:01] tzolov commented on #4295
Thank you @sadovnikov and @Baykonur,
Based on your description i've put together a fix that allows configuring http proxy (host + port) for the allowing SCDF server access the container registries over proxy: https://github.com/spring-cloud/spring-cloud-dataflow/pull/4296

This is a preliminary work (in case you want to test it) and i need to test with with a real http proxy configuration, before

[2020-12-22 18:35] sadovnikov commented on #4295
It's very normal to have a single Proxy configuration for the entire process. I've never come across an organisation (yet), which uses multiple proxies ;) If requests to a registry should not go through a proxy, `nonProxyHosts` are used. There should be a way to bypass proxy for certain hosts or registries.

Therefore, I wonder if there are any benefits of configuring the proxy through application

[2020-12-23 15:09] ebezdomnikov opened #4297 "the endpoint tasks/definitions returns not masked credentials"
**Description:**
the end-point: tasks/definitions/{name}?manifest=true return credentials (passwords, keys, tokens) as is, but they should be masked. The issue only related with "arguments" json part.

**Release versions:**
{
  "versions": {
    "implementation": {
      "name": "spring-cloud-dataflow-server",
      "version": "2.7.0"
    },
    "core": {
      "name": "Spring Cloud Data Flow Core

[2020-12-23 17:50] ebezdomnikov opened #4299 "scdf provide for tasks metric tag application with unknown value"
**Description:**
The system provide default task properties for every execution:
`management.metrics.tags.application=${task.name:unknown}-${task.execution.id:unknown}`
as the result the tag "application" for grafana always has value "unknown-unknown".
The possible solution is to adjust the file: spring-cloud-dataflow-server-core/src/main/resources/META-INF/application-task-common-properties-defau

[2020-12-24 17:59] ebezdomnikov opened #4300 "can't use task last execution for restart task via api"
**Description:**
It's not possible use TaskExecutionResource data in order to launch task via api, because of masked credentials.

**Release versions:**
{
  "versions": {
    "implementation": {
      "name": "spring-cloud-dataflow-server",
      "version": "2.7.0"
    },
    "core": {
      "name": "Spring Cloud Data Flow Core",
      "version": "2.7.0"
    },
    "dashboard": {
      "name": "Sp

[2020-12-25 11:03] umutcann commented on #4291
Hi @cppwfs,

I am not able to share our sample app due to restrictions of corporate data security. I'm sorry about that.

We are building our spring batch apps using s2i build [strategy](https://access.redhat.com/documentation/en-us/openshift_container_platform/4.1/html/builds/understanding-image-builds#build-strategy-s2i_understanding-image-builds) of RedHat Openshift. We are building source code

[2020-12-27 05:17] savghade commented on #3924
Hi,

I am using Spring cloud dataflow server version 2.7.0 and skipper server version 2.6.0 and deployed it in Openshift but getting me same issue :

2020-12-27 05:07:03.812  INFO 1 --- [           main] o.s.c.d.s.s.DataFlowServerApplication    : Started DataFlowServerApplication in 20.618 seconds (JVM running for 22.552)
--
  | 2020-12-27 05:07:24.187  INFO 1 --- [nio-9393-exec-1] o.a.c.c.C.[Tomc

[2020-12-28 10:24] jvalkeal opened #4301 "Cloud 2002.0.0 update broke k8s deps"
Build fails as `spring-cloud-starter-kubernetes-config` not there anymore.

[2020-12-28 16:00] #4301 closed

[2020-12-29 01:02] 23king opened #4303 "Register cron expression based on timezone of SCDF Server."
Problem description:

The timezone between Cloud Platform's cron expression and Spring Cloud Data Flow Server's cron expression does not match.

Solution description:
In the k8s configMap, specify the timezone of the k8s platform. And when registering the schedule, modify the cron expression by referring to the timezone of the k8s platform.

apiVersion: v1
kind: ConfigMap
metadata:
  name: scdf-se

[2020-12-29 06:44] savghade commented on #4272
Hi My name is Shankar  I am new contributor, can I start my first contribution by fixing this bug under your guidance.

[2020-12-29 11:48] jvalkeal commented on #4272
Sure thx, I assigned this to you.

[2020-12-29 11:53] jvalkeal commented on #4272
Just a note here where that old deprecated property is still getting used(after we stop supporting it at some point)

https://github.com/spring-cloud/spring-cloud-dataflow/blob/b8a4b04b0a6fa7bb921ba2bdf34bc8a68e3eafab/spring-cloud-dataflow-server-core/src/main/java/org/springframework/cloud/dataflow/server/service/impl/TaskConfigurationProperties.java#L71-L78

[2020-12-29 13:57] ebezdomnikov opened #4305 "During the task launch SCDF merge all deployment properties with also deleted properties"
**Description:**
During the task launch the deployment properties can be provided, but system merge them (org/springframework/cloud/dataflow/server/service/impl/DefaultTaskExecutionService.java):
[code]
The problem is what the system also merge the deleted properties:
[code]
I have two questions:
- why the merge functionality was implemented on such way? Maybe just a flag on UI, aka "Default prope

[2020-12-29 14:26] ebezdomnikov opened #4306 "SCDF change the initial shape of deployment parameters and make them impossible to reuse"
**Description:**
SCDF changes the shape of deployment parameters, which are using the qualifier, after task launch. for instance if I provide
[code]
to task launch properties and after task execution trying to launch it again the shape of parameters will be different:
[code]
and as the result I can't re-use it as this form will not pass validation
![Screenshot 2020-12-29 at 17 24 36](https://user-

[2020-12-31 09:07] jvalkeal commented on #4305
There is a difference between `deleted` and `removed`. We always bring everything from existing manifest as otherwise user would always need to define full set of properties. From diff point of view `removed` mean this and `deleted` means that user wants to removed it and way deletion works is that user needs to set that value effectively to null/empty.

This idea was basically copied from kuberne

[2020-12-31 09:15] jvalkeal commented on #4305
You'll better see that logic from this test:

https://github.com/spring-cloud/spring-cloud-dataflow/blob/7e36ca0b90b4e5a2ecf788dc64adf040ad77c377/spring-cloud-dataflow-server-core/src/test/java/org/springframework/cloud/dataflow/server/service/impl/diff/PropertiesDiffTests.java#L71

[2020-12-31 15:51] ebezdomnikov commented on #4305
@jvalkeal hi,
You're right, indeed in case if I will provide empty value, it will remove a property, sorry I wasn't aware about it:)
Thank you!

[2020-12-31 15:52] #4305 closed

[2020-12-31 18:52] jvalkeal opened #4307 "Add better docs task manifest handling"
Currently our docs are unclear how various manifest operations actually work like adding/remove/deleting properties work, improve that!

[2020-12-31 18:53] jvalkeal commented on #4305
Did create #4307 as I noticed that this is not clear.

[2021-01-01 00:09] jvalkeal commented on #4303
Could you restructure this issue in a more consumable description so that we'd know what you are trying to accomplish. I'd very much like to see a use case, problem and then a possible discussion about a possible solution to a problem.

Unfortunately a related PR is contains unneeded changes and a change to a dependencies(which we don't accept easily), so I need to reject it for now.

[2021-01-01 00:38] 23king commented on #4303
AS-IS:
If the timezone of the scdf server is asia/seoul and the timezone of k8s is UTC,
When registering a schedule with cron, if it is registered as a timezone based on asia/seoul, the operation operates in the UTC timezone, which is the timezone of k8s.

TO-BE:
When the timezone of the scdf server is asia/seoul and the timezone of k8s is UTC
When cron schedule is registered as asia/seoul, cron e

[2021-01-02 23:11] deepak5127 commented on #3826
@tzolov I have a question ( May be I am missing something). How do I get the registry Name and pass to the ContainerRegistryService's getTags method. Should I change DOCKER_REGISTRY_URL in DockerValidatorProperties from https://hub.docker.com/v2/repositories to https://registry-1.docker.io/v2 ?

[2021-01-04 11:33] umutcann commented on #4291
Hi @cppwfs ,

Is there any update regarding issue?

Do you need any other thing to investigate issue?

[2021-01-04 13:33] cppwfs opened #4308 "Remove mockito-core from SCDF CTR dependencies"

[2021-01-04 19:28] sabbyanandan commented on #4289
Thanks, @dturanski. Let's wrap the documentation update as part of this issue then.

[2021-01-04 19:40] sabbyanandan commented on #4225
Hi, @DemianTinkiel. Even though the streams might have a relationship (because of the existing destination binding), we do treat them as individual streams behind the scenes, and that's by design.

Having to automatically infer it and create stream definitions based on convention sounds like a potential improvement to this workflow. If you want to take a stab at working this on a PR, we can collab

[2021-01-05 06:40] #4308 closed

[2021-01-05 09:32] DemianTinkiel commented on #4292
Closing in favour of https://github.com/spring-cloud/spring-cloud-deployer-local/issues/200 and https://github.com/spring-cloud/spring-cloud-deployer-local/issues/170

[2021-01-05 09:32] #4292 closed

[2021-01-05 10:27] #3583 closed

[2021-01-05 12:34] sadovnikov commented on #4295
I'd like to test the version from #4296 (and my own fix for this issue), however, the build instructions in https://github.com/spring-cloud/spring-cloud-dataflow/blob/master/spring-cloud-dataflow-docs/src/main/asciidoc/appendix-building.adoc are not complete. There are Maven dependencies on SNAPSHOTS of other projects ;( What needs to be built in order to get those dependencies in local Maven repo

[2021-01-05 13:52] jvalkeal commented on #4295
There's 10 different projects/repos which are part of dataflow build "train" and all those are on snapshots. When you do `./mvnw clean package -DskipTests` it should work just fine.

[2021-01-05 14:48] tzolov commented on #4295
@sadovnikov, I see how using the `HttpClientBuilder`'s native properties might look convenient, but, IMO, it violates the proper design principles.
We should not couple SCDF with a particular proprietary library and its properties. What would happen if we decide to sue `RestTemplate` (RT) with different connection factory or given that the `RT` is in maintenance mode, what would happen after we up

[2021-01-05 15:44] sadovnikov commented on #4295
@jvalkeal, unfortunately the "train" is indeed very long. `./mvnw clean package -DskipTests` immideately fails to resolve `org.springframework.cloud:spring-cloud-dataflow-build:pom:2.8.0-SNAPSHOT`. After building `spring-cloud-dataflow-build` it fails on `org.springframework.cloud:spring-cloud-dataflow-common-dependencies:pom:2.8.0-SNAPSHOT` and `org.springframework.cloud:spring-cloud-skipper-depe

[2021-01-05 16:32] github-actions[bot] opened #4311 "backport(4297): the endpoint tasks/definitions returns not masked credentials"
Backport #4297

[2021-01-05 17:15] mminella commented on #4267
This will get complex (not arguing against it, just calling it out). For a CF launch, we recycle the droplet to prevent the need to recreate it with every launch. In order to accomplish this functionality on CF, we would need to explore one of two options:

1. Stop recycling the droplet and launch every time. This adds time to each launch (a non-trivial amount) as well as requires a more robust st

[2021-01-05 19:22] github-actions[bot] opened #4312 "backport(4256): If CTR fails because SCDF URL is unreachable need to record a task execution entry."
Backport #4256

[2021-01-06 01:26] deepak5127 commented on #4176
Hi @sabbyanandan  . Is this issue open to contribution ?

[2021-01-06 09:25] savghade commented on #4272
Hi
I can see just single reference of composedTaskRunnerUri in /spring-cloud-dataflow-server-core/src/main/resources/META-INF/dataflow-server-defaults.yml

....
....
task:
        composed-task-runner-uri: "maven://org.springframework.cloud:spring-cloud-dataflow-composed-task-runner:@project.version@"

As per above discussion It should have as below,
....
task:
       composedtaskrunner.uri: "mave

[2021-01-06 15:12] jvalkeal commented on #4283
Looks like this is just a side-effect on a changes in boot's auto-config classes and it just didn't bark in tests previously when we didn't have those excludes.

[2021-01-06 15:12] #4283 closed

[2021-01-06 15:13] jvalkeal commented on #4282
done!

[2021-01-06 15:13] #4282 closed

[2021-01-06 15:22] jvalkeal commented on #4176
I've been looking some of these things in #4198. Things are getting slightly complicated as if ID platform don't have a way to give different scopes per groups then you need to rely on particular boot integration libs for that particular identity provider. This is for example a case with Azure AD. The tricky part seems to be that these external boot extension libs seem to be highly incompatible wi

[2021-01-06 15:26] jvalkeal commented on #4272
Well yes, this is a simple change of that one property:
[code]

[2021-01-06 19:55] cppwfs commented on #4291
Currently we are supporting containers created by Spring Boot, Jib and, Dockerfile.
Can you provide a simple application that replicates the problem along with the associated scripts used in the `--scripts-url` directory, that you are using for the S2I container build.

[2021-01-07 08:55] jvalkeal opened #4315 "Update spring-cloud-task 2.2.5"

[2021-01-07 08:57] github-actions[bot] opened #4316 "backport(4315): Update spring-cloud-task 2.2.5"
Backport #4315

[2021-01-07 08:57] github-actions[bot] opened #4317 "backport(4315): Update spring-cloud-task 2.2.5"
Backport #4315

[2021-01-07 08:57] github-actions[bot] opened #4318 "backport(4315): Update spring-cloud-task 2.2.5"
Backport #4315

[2021-01-07 08:59] github-actions[bot] opened #4319 "backport(4229): Add validation for sort keys"
Backport #4229

[2021-01-07 08:59] github-actions[bot] opened #4320 "backport(4229): Add validation for sort keys"
Backport #4229

[2021-01-07 09:10] #4315 closed

[2021-01-07 09:44] #4318 closed

[2021-01-07 09:44] #4317 closed

[2021-01-07 09:44] #4316 closed

[2021-01-07 09:56] jvalkeal commented on #4320
Was actually backported by 8e00d35c850dd5f1be24ab078d28595d7c700046

[2021-01-07 09:56] #4320 closed

[2021-01-07 11:07] #4319 closed

[2021-01-07 12:11] sadovnikov commented on #4295
@tzolov finally I was able to test the snapshot with `docker.io/sadovnikov/spring-cloud-dataflow:2.8.0-debian-10-r0` image, which is
[code]

Without adding `spring.cloud.dataflow.container.httpProxy.host` and `spring.cloud.dataflow.container.httpProxy.port` the behaviour does not change, which is good and expected :thumbsup:

We register applications from public and private docker registries. For

[2021-01-08 13:46] tzolov commented on #4295
@sadovnikov , thank you for the testing  and feedback!

* I will look into the `NPE`.  Missing registry conf can be logged but should not lead to NPE.

* Regarding the the configuration of the Custom Registry. Can you elaborate about your SCDF configuration? I assume it k8s and you are using yaml? Is it kubectl, bitnami or .. ?
In general here is the `default` dockerhub registry configuration buil

[2021-01-08 13:51] sadovnikov commented on #4295
@tzolov  with the configuration below I managed to pass the point of NPE

[code]

However, now it throws JSON parsing error:

[code]

The request it tries to send is `https://containerhub.aaa.bbb.ccc:6666/v2/enrichment-feeder-processor-docker/blobs/sha256:3e8d2c02a33d4226ebc008d22a42148718acd98a023d17472a4ecde0795a386d`. If I curl it myself, I get a correct JSON response. I believe `ContainerRegis

[2021-01-08 14:26] sadovnikov commented on #4295
We install SCDF with Bitnami chart, although we had to fork it and modify a bit to add support for multiple "platforms"

If adding something like `noProxyHosts` is not possible, having proxy configuration per registry is an option. Although, if the proxy is configured, it will be configured the same way for all public registries.

[2021-01-08 14:48] tzolov commented on #4295
* @sadovnikov i've just updated the PR to handle the NPE in case of missing registry configurations. Apparently we handle this (in the 2.6.x branch) but missed it for the 2.7.

* Is the JSON parsing error handled gracefully, e.g. it is logged but has not other side effects? or it cripples throughout the calls stack? Perhaps you can share more from the log.

* Ok, i understand that we need to suppo

[2021-01-08 15:20] sadovnikov commented on #4295
* great, thank you! I will build another snapshot on Monday

* the JSON parsing error is seen only because I enabled DEBUG logging for `org.springframework.cloud.dataflow.configuration` logger. Otherwise, it would just log

[code]

* Thanks again for handling this problem!

[2021-01-08 15:37] sadovnikov commented on #4295
I need to investigate more the JSON parsing error: after removal of the proxy configuration it still exists

[2021-01-08 18:20] chrisjs commented on #4290
ive put initial findings / items to followup on into a gdoc called "SCDF-SCGw Spike"  /cc @cppwfs @sobychacko

[2021-01-08 20:41] 23king commented on #4303
@jvalkeal
Please give me feedback. I need this feature wherever I am using it.

[2021-01-09 09:36] DemianTinkiel opened #4322 "java rest client: support for retry connection"
**Problem description:**
At the moment, injecting the rest-client will cause an application to immediately try to connect to SCDF during initialization. SCDF might not be available yet so the client application will fail to start. This is a particular problem in deployments like in docker-compose.

**Solution description:**
Implement a retry mechanism. Something like the [rabbitmq's template](org.

[2021-01-11 14:41] tzolov commented on #4295
@sadovnikov i've just updated the PR to allow enable/disable http-proxy per each Registry configuration.  Use the new `useHttpProxy` property to enable proxy for particular configurations. It is disabled by default.
For example `spring.cloud.dataflow.container.registry-configurations[your-registry-cofn-name].use-http-proxyr=true`.
Please let me know if this solves your requirements.

[2021-01-11 15:32] pptllakshitha commented on #3488
HI @jvalkeal,
when I add the following attribute to my yml file in IntelliJ those all are getting highlighted I added some dependencies also but nothing solve my problems .could please help me.

![error-SCDF](https://user-images.githubusercontent.com/73877677/104201826-29c7aa00-5450-11eb-9338-6e0da13e031d.PNG)

[2021-01-11 16:05] jony635-act-on opened #4323 "getRunningExecutionCount fails to include recently submitted jobs"
**Description:**
Submitting numerous jobs in succession shows that *CurrentTaskExecutionsResource.getRunningExecutionCount()* fails to increment. This permits an application to potentially overrun the value set by *getMaximumTaskExecutions()*

**Release versions:**
image: springcloud/spring-cloud-dataflow-server:2.7.0

**Steps to reproduce:**
Submit a job or jobs via loop. Note that *.getRunningEx

[2021-01-11 17:12] deepak5127 commented on #3826
Hi @tzolov  . please let me know if the above approach looks good. [ Hard coding the registryName while calling the container registry service method for Docker resources ?]

[2021-01-11 19:49] eskuai commented on #3488
Hi @pptllakshitha

Check https://github.com/jvalkeal/randomstuff/tree/master/dataflow-keycloak very carefully and it works ...

Double check to json definition, skipper side and scdf side ... i dont know why, but if yaml gets some tree-tag configurations not valid ... no issue is warning ...

I dont know what kc versiones is .. another warn, lastest kc changed configurations windows and "areas" ,

[2021-01-11 21:13] #4290 closed

[2021-01-12 17:19] siddhantsorann commented on #3560
@sabbyanandan @mminella I'd like to pick this one up if it's still up for grabs.

[2021-01-12 17:26] sabbyanandan commented on #3560
@siddhantsorann: That'd be a lofty goal, but feel free to give it a go. 😄

[2021-01-12 17:37] siddhantsorann commented on #3560
@sabbyanandan: Haha let me have a look then. Can you also refer me to any other class which was migrated to Spring Data JPA?

[2021-01-12 17:41] siddhantsorann commented on #3560
From what I gather we will have to create an entity as well for TaskExecutionMetadata and implement a JPA Repo on that?

[2021-01-12 17:42] mminella commented on #3560
The challenge is that most of the related entities are not JPA mapped. Nothing that SCDF gets from Spring Cloud Task is for example.

[2021-01-12 17:47] sadovnikov commented on #4295
@tzolov with the snapshot version from the PR we do get metadata (labels, etc) of the images from Docker Hub and we do get responses from our private registries. The configuration below is used

[code]

It's ok to merge the PR and to close this ticket.

Although does not seem related to "proxies", we still get `com.fasterxml.jackson.databind.exc.MismatchedInputException: Cannot deserialize instanc

[2021-01-12 17:58] siddhantsorann commented on #3560
Right, I can see that Task_execution_metadata has a reference to task_execution which is also not a JPA Entity. How would you suggest we go about this in that case?

[2021-01-12 18:04] siddhantsorann commented on #3473
Hey, @jvalkeal @cppwfs I'd like to help out here if this is still up for grabs. Would like some more context if possible though.

[2021-01-12 18:17] siddhantsorann commented on #3560
@mminella So the entity task_execution_metadata will be the first entity from scdf to be migrated to JPA from DAO? I can start building an entity and repo for it in that case.

[2021-01-12 18:57] mminella commented on #3560
It's been my experience that doing half JPA and half traditional JDBC causes data consistency issues between the two solutions (given caching/etc) so it's best to do an all or nothing approach which is where the complexity of this issue comes from.

[2021-01-13 05:04] siddhantsorann commented on #3560
@mminella That definitely makes sense. I would also suggest that we should look at moving all entities to JPA. I don't mind having a discussion and planning it out. Would still be eager to pick up such a migration.

[2021-01-13 09:56] jvalkeal commented on #3473
This would need a proper design as what I outlined above was just idea. Not sure if there should be a totally new controller to setup new rest paths as trying to make existing controller more clean may be difficult.

[2021-01-13 10:09] siddhantsorann commented on #3473
I think a fresh new design and controller should be a good approach for this. I have experience with controllers and APIs and would like to help out with the design part as well if that's possible.

[2021-01-14 14:32] tzolov commented on #4295
@sadovnikov thank you for you elaboration! I'm glad that the proxy functionally is working!
Regarding the JSON issue, i've just updated the PR to allow support application+json content as well.
Would greatly appreciate if you can test it ageist your repos.

[2021-01-14 16:47] tzolov commented on #4295
@sadovnikov, just noticed in your configuration. You don't need the following section because it is already defined in the SCDF confs:
[code]

You only need to add only the fields you want to override or the new such(e.g. use-http-proxy). I believe the this configuration should be identical:
[code]

[2021-01-14 17:09] sadovnikov commented on #4295
@tzolov Great! I was not sure if the presence of "default" in our config with override the default "default" or will merge the two ;) I'll build another snapshot and will give it a try asap

[2021-01-14 18:21] sabbyanandan commented on #4322
Hi, @DemianTinkiel. Could you share some more specifics as to how you're using the REST-client in the context of SCDF running in a Docker Compose environment? It'd be useful to understand the background, so we can think through this not just for this sandbox-kind deployment, but also when running in platforms like K8s.

[2021-01-14 18:22] sabbyanandan commented on #4307
@jvalkeal: Should this be in Microsite docs instead?

[2021-01-14 18:26] sabbyanandan commented on #4303
Hi, @23king. Thanks for your contribution.  As @jvalkeal pointed out, could you resubmit a PR with just the changes associated with overriding the timezone, and just that, please?

@jvalkeal: I do see value in being able to adjust the timezone when launching the task. Once when we have the new PR, please have a look and let us know your findings.

[2021-01-14 18:28] sabbyanandan commented on #1413
We never looked into it, and don't think we ever will.

[2021-01-14 18:28] #1413 closed

[2021-01-14 18:28] sabbyanandan commented on #1414
We never looked into it, and don't think we ever will.

[2021-01-14 18:28] #1414 closed

[2021-01-14 18:28] sabbyanandan commented on #1437
We never looked into it, and don't think we ever will.

[2021-01-14 18:28] #1437 closed

[2021-01-14 19:12] cppwfs commented on #4300
Another option would be to consider using config server.  Thoughts?

[2021-01-14 19:18] cppwfs commented on #4142
This looks to be a Batch related issue based on the note above.  Closing this issue for now.  If in error reopen.

[2021-01-14 19:18] #4142 closed

[2021-01-14 19:23] cppwfs commented on #4054
Issue #4258 is in progress now to resolve this issue.

[2021-01-14 19:23] #4054 closed

[2021-01-14 19:30] sadovnikov commented on #4295
@tzolov the simplified configuration of `default` still works 👍 .

However, the problem with parsing of JSON response is still there. I added some logging to `ContainerRegistryService`.  In https://gist.github.com/sadovnikov/8e5683411883f4fe5ce1ba4ea28798ab#file-gistfile1-txt you can find the unmodified logs and the result of `curl -v` of the same URL. For comparison, the response from Docker Hub

[2021-01-14 21:10] dturanski commented on #4323
It sounds like you have written a client to submit launch requests to SCDF.  What you're describing is correct, running execution count only counts pods that are in a `Running` state. The launch command is asynchronous, so that a launched task may not be running before you issue the next request.  If your code does not include any delay or synchronization, (wait until the current task is running),

[2021-01-15 09:31] github-actions[bot] opened #4326 "backport(4275): Add stream log and stream logs by app name support to java DSL"
Backport #4275

[2021-01-15 09:34] jvalkeal commented on #4326
Just a tracking issue as it was done per df090a41eab5932acbe4e8f54c53514387ba0bcc

[2021-01-15 09:34] #4326 closed

[2021-01-15 11:07] nightswimmings opened #4327 "Allow mulitple task execution on a transition conditional branch"
**Problem description:**
When defining a flow with composed task syntax, I miss a way to define the execution of 2 tasks for the same conditional branch. I could not find any alternative on different official docs

**Solution description:**
Allowing () syntax to group &&'s

**Additional context:**
Example:
  A && B 'STATUS1' -> C 'STATUS2' -> D && E && F
If I want to execute D and D' on the STATUS

[2021-01-15 12:38] github-actions[bot] opened #4328 "backport(4295): SCDF server fails to access docker hub behind HTTP proxy"
Backport #4295

[2021-01-15 13:44] tzolov commented on #4295
@sadovnikov , please hold on. I think i found something related to the issue and will update the PR shortly

[2021-01-15 13:57] tzolov commented on #4295
@sadovnikov , i've fixed the PR. Hopefully this will solve the json handling issue.

(P.S. if you want to add metadata to your custom apps, you can find some related docs here: https://dataflow.spring.io/docs/feature-guides/general/application-metadata/#configure-app-starter-metadata-maven-plugin )

[2021-01-15 14:44] sadovnikov commented on #4295
@tzolov with the latest code the exception is gone :tada:

We'll try adding metadata to our custom apps later. However, I believe your PR #4296 (when the build succeeds) can be merged. Thank you very much for your support too

[2021-01-15 14:49] cppwfs commented on #4327
You could use labels for example A && B 'STATUS1' -> C 'STATUS2' -> Label1: D && Label2: D && E && F
Here is quick read through on labels https://dataflow.spring.io/docs/feature-guides/streams/labels/#labeling-applications

[2021-01-15 15:08] ilayaperumalg commented on #4158
@BulyginDN This indeed looks like a bug. Please feel free to propose a PR on this. Thank you

[2021-01-15 15:16] #4297 closed

[2021-01-15 15:17] jvalkeal commented on #4311
Merged per f7f2de74a84ed8c381ee7d92dfb158fcf2908b87

[2021-01-15 15:17] #4311 closed

[2021-01-15 15:47] nightswimmings commented on #4327
Hi Glenn! Thanks for the answer. In that very example of yours, I understand than neither status1 branch nor status2 branch is gonna execute Label2: D, is it like that? If so, then it's not my case. I picked bad naming for the tasks, D and D' are completely unrelated, they were 'D' because of the branch D

[2021-01-15 15:56] cppwfs commented on #4327
We have an existing issue for this scenario located here: https://github.com/spring-cloud/spring-cloud-dataflow/issues/3654.
We need to put a milestone to it.   I'll bring it up in the next standup.

[2021-01-15 15:56] #4327 closed

[2021-01-15 15:57] cppwfs commented on #4327
You can leave additional notes on that issue.

[2021-01-15 15:58] cppwfs commented on #4327
Thanks for opening this issue.

[2021-01-15 16:00] nightswimmings commented on #4327
Exactly. That is my exact situation thanks!!

[2021-01-15 23:11] robinsomarajv commented on #3403
How to instruct cloud task to use the task id generated by SCDF always?

[2021-01-15 23:34] robinsomarajv opened #4329 "SCDF and Cloud task app execution id are different"
**Description:**
Two execution id are generated one by SCDF and one by Cloud Task app even when the task is triggered manually.

The SCDF runs on AKS platform using azure sql as task repository.

[2021-01-15 23:38] sabbyanandan commented on #4329
There's not much information here to dig.

What versions are you using? How have you provisioned SCDF on AKS? What is the task definition, and how are you launching it? If it is a reproducible case, please share the task app, as well.

[2021-01-16 18:10] siddhantsorann commented on #4196
Hey, @jvalkeal @ilayaperumalg I would like to pick this ticket up. Let me know if there is anything I need to know before starting work on this. Thanks.

[2021-01-17 18:37] ebezdomnikov commented on #4300
@cppwfs hi,
thank you for reaching me.

Yes, you're right, that is way to go with sensitive data:)

Thanks.

[2021-01-17 18:37] #4300 closed

[2021-01-18 06:26] ilayaperumalg commented on #4196
@siddhantsorann Sure, thanks! Your above suggestion on keeping the custom exception in RestControllerAdvice seems reasonable. Please go ahead and let's see how that evolves.

[2021-01-18 11:11] #4295 closed

[2021-01-18 11:27] bmmule opened #4331 "SCDF Kubernetes importing existing Kubernetes running pod"
We are working on a new deployment of SCDF in our Kubernetes environment. The new SCDF is supposed to schedule and run some Spring-batch containers.

We know that in order to do that, an application needs to be created with a path to the Docker Container, which then spins up a POD when the task is scheduled.

However, our requirement is that we need to point the application/task to an existing Kub

[2021-01-18 13:23] umutcann commented on #4291
Hi @cppwfs

I was working on the problem.

I guess I find root cause of problem.

SCDF is creating a task, and creates a new pod in openshift to execute  the task, but, in this pod, instead of updating the details of the task, it is creating a new one:

![a](https://user-images.githubusercontent.com/18632831/104920722-46606680-59a9-11eb-9b0b-cb3caf0d6630.png)

In the logs of the corresponing pod,

[2021-01-19 01:24] sabbyanandan commented on #4331
Hi, @bmmule. If the foundation for the task/batch-job isn't already established in SCDF (i.e.: a task definition in the DB), then no, any autonomous batch-job resources running in your namespace won't automatically end up being observable/manageable in SCDF.

[2021-01-19 01:24] #4331 closed

[2021-01-19 05:14] robinsomarajv commented on #3695
How to run multiple instances of same cloud task(by using labels) with different properties/arguments in the same samSCDF task definition?

[2021-01-19 05:47] robinsomarajv commented on #4329
The version of SCDF is 2.7.0 Installed from Bitnami charts repo.
The SCDF is configured to use an external DB in AzureSQL, deployed in AzureKubernetesServices with helm just overrided the basic values in the configuration.
I have a simple Springboot application with cloud task enabled and I see  it gets invoked from SCDF and runs successfully but the tasks always has different execution id and sta

[2021-01-19 05:49] robinsomarajv commented on #4329
![SCDF-Debug](https://user-images.githubusercontent.com/14326222/104993009-c3123580-59e7-11eb-90b9-e2c26e379aed.jpg)

[2021-01-19 10:01] DemianTinkiel commented on #4322
@sabbyanandan  sure. My deployment is
[code]
My server has a class that is in charge of communication with SCDF
[code]

Which is autowired into other services and so on. `packages` matches a collection of custom apps (docker/kafka)
Please let me know if you'd like me to elaborate on something specific

[2021-01-19 13:35] cppwfs commented on #4329
Spring Cloud DataFlow passes the `spring.cloud.task.executionid` property to the task to tell the task what execution id it should use.   If the task execution id isn't present the task wil create one for itself.    I don't see `spring.cloud.task.executionid` being passed to your task application.   Using the default entry point style of `exec` this property should appear in the arguments.
It coul

[2021-01-19 13:44] cppwfs commented on #4329
For the second question.  Please create a new issue.

[2021-01-19 14:03] tzolov commented on #4328
Resolved by
- f721658ed1f1c1dc258d4cc73d93408970b25ca4
- 8bb9f08f65429756f240fd2e0138ff33680f566e
- 23867bfbb0feca5323aa3baa664f63c3af09ce64

[2021-01-19 14:03] #4328 closed

[2021-01-19 15:21] jvalkeal opened #4332 "2.7.1 Endgame"
- _Tue Jan 19_ Code freeze for the endgame
- _Fri Jan 22_ Endgame done

**Tue - Wed**
- [x] Check that all needed issues are backported @jvalkeal
- [x] Code freeze
- [x] Verify acceptance tests @jvalkeal
- Manual testing
  - [x] Shell @tzolov
  - [x] Import @tzolov
  - [x] Security @jvalkeal
  - [x] k8s @ilayaperumalg
  - [x] cf @cppwfs

 **Thu**
- Release @jvalkeal
  - spring-cloud-dataflow-build

[2021-01-19 16:38] sabbyanandan commented on #4289
Addressed by https://github.com/spring-cloud/spring-cloud-dataflow/pull/4321.

[2021-01-19 16:38] #4289 closed

[2021-01-19 16:39] sabbyanandan commented on #4072
Addressed by https://github.com/spring-cloud/stream-applications/pull/141.

[2021-01-19 16:39] #4072 closed

[2021-01-19 16:42] sabbyanandan opened #4333 "Define Wavefront App Name/Service for Wavefront Tracing"
See: https://github.com/spring-cloud/stream-applications/pull/141/files

[code]

[2021-01-19 17:05] cppwfs commented on #2867
We need to migrate the PR from the CTR over to Data Flow CTR https://github.com/cppwfs/composed-task-runner/commit/cc321da9f4d120cae1a0131b1c22c5ea9222b3b1.
This can be done after we merge https://github.com/spring-cloud/spring-cloud-dataflow/pull/4314

[2021-01-19 18:28] robinsomarajv opened #4334 "Running same cloud task with different arguments/properties on a single SCDF task definition"
How to run multiple instances of same cloud task(by using labels) with different properties/arguments in the same SCDF task definition? Needs to run same task app with different properties on same SCDF task flow/definition.
Secondly, When ran with different label the second instance fails with imagepullbackoff error with a 401 unauthorized. however first instances pulls image successfully with the

[2021-01-19 19:04] cppwfs commented on #4291
Spring Cloud Data Flow creates a task execution row in the task_execution table when it launches a task.   It then passes the `spring.cloud.task.executionid` property to the task containing the task execution id for the task to use.   The task then uses this id to update its task execution information.    The task is behaving like the `spring.cloud.task.executionid` is not being passed to the task

[2021-01-19 21:17] robinsomarajv commented on #4329
Tried giving an execution id when I launched the task from SCDF UI but did not seem to work. I am not sure if I am doing something wrong here. Attached a detailed screenshot. Can you guide me to right documentation or what i am doing wrong?
![SCDF-Debug-2](https://user-images.githubusercontent.com/14326222/105094114-648d9b80-5a69-11eb-9641-887b7ca96403.jpg)

[2021-01-19 21:19] robinsomarajv commented on #4334
[https://github.com/spring-cloud/spring-cloud-dataflow/issues/4329](url)

[2021-01-20 02:21] ilayaperumalg commented on #4261
Re-opening to see if we need to backport the changes.

[2021-01-20 03:38] cppwfs commented on #4261
Sure!

[2021-01-20 03:45] adanilev opened #4335 "Issue passing arguments to child tasks when launching composed tasks"
**Description:**

* Given a composed task named `my-composed-task` with the DSL `timestamp && mytaskapp`
* Launching via the shell with this command: `task launch my-composed-task --arguments "--composed-task-arguments=--mytaskapp.some.arg=foo --composed-task-arguments=--mytaskapp.other.arg=bar --composed-task-arguments=--another.arg=baz"`
* Results in `mytaskapp` being launched with the args `som

[2021-01-20 07:02] umutcann commented on #4291
Hi @cppwfs

I shared the images which demonstrate that spring.cloud.task.executionid is being passed to kubernetes pod as argument.

<img width="406" alt="1" src="https://user-images.githubusercontent.com/18632831/105138449-f3e88c80-5b05-11eb-8aa1-bc6aa4c53514.PNG">

But SCDF couldn't show spring.cloud.task.executionid in task execution page as you see below.

<img width="410" alt="2" src="https:/

[2021-01-20 16:15] sabbyanandan opened #4338 "Move OOTB apps to Tanzu registry"
Given the Docker Hub's rate limiting, many of the IT/AT and smoke tests are failing sporadically, and to run them consistently, we would need to move the apps to somewhere else.

[2021-01-20 16:16] sabbyanandan commented on #4338
See: https://github.com/pivotal/scdf-k8s-packaging/issues/111

[2021-01-20 17:57] siddhantsorann commented on #3355
Hey, @sabbyanandan I'd like to pick this ticket up if this enhancement is still needed.

[2021-01-20 18:04] siddhantsorann commented on #3355
Also, since we have multiple filters here have we thought about using predicates for this case?

[2021-01-20 18:55] cppwfs commented on #4291
Yeah that is my bad.  The task-execution-id is not stored in the task manifest, which is used to populate the "Applications Properties".   This is because each launch always gets a new task execution id.   You can see the task-execution-id passed in via the environment by executing the `kubectl describe pod <your task pod>`
i.e.
[code]

[2021-01-20 19:39] siddhantsorann commented on #3355
Since there are multiple filters and AppRegistration is a JPA entity here is how I think we can implement this without having too many if-else conditions -
[code]

[2021-01-20 20:09] sabbyanandan commented on #3473
Hi, @siddhantsorann. We will have to think about not breaking the API contracts with the new design, though. A new major release (3.0) of SCDF is not in the pipeline anytime soon, so we will have to work with the minor release boundary, and that means no breaking changes. Also, I am wondering whether if we can do this for Task APIs first, and incrementally move to other primitives in SCDF (streams

[2021-01-20 20:14] sabbyanandan commented on #3355
This seems like a pretty straightforward case of including extra search criteria. I am in favor of enhancing this indeed.

Let's please submit a PR with the proposal. cc: @tzolov

[2021-01-21 01:27] tan31989 commented on #3201
I have tried to provide conditional arguments rather than removing the flow versions in the docker-compose. Which is keeping the default as `latest`.

@chrisjs / @sabbyanandan would you be able to review it?

[2021-01-21 03:50] sabbyanandan commented on #3201
Thank you, @tan31989. We recently discussed this in a team meeting to address this problem also. @tzolov is having a look at automatic property resolution for version-tags as part of our future release tagging.

Once when that is done, users won't have to muck around with the environment variables anymore.

I will request @tzolov to review your PR anyway.

[2021-01-21 05:29] tan31989 commented on #3201
Thanks, @sabbyanandan for the update!

[2021-01-21 06:25] umutcann commented on #4291
Hi @cppwfs

I was able to see SPRING_CLOUD_TASK_EXECUTIONID as anvironment variable only using **shell**.

Also I was able to see spring.cloud.task.executionid as argument using **exec** on kubectl describe pod <your task pod>. I shared screenshoot on my previous comment.

As you know **exec** passes all application properties and command line arguments in the deployment request as container argum

[2021-01-21 06:28] drowning opened #4339 "Can spring cloud dataflow run with knative，or other serverless？"
I read this from doc
_Short-lived applications run for a period of time (often minutes to hours) and then terminate. Their runs may be based on a schedule (for example, execute at 6pm every weekday) or in response to an event (for example, a file being put in an FTP server)._

But The doc does not contain anything related to serverless

[2021-01-21 06:54] ilayaperumalg commented on #4339
Hi @drowning ,

The applications that Spring Cloud Data Flow (SCDF) can manage include Stream(Eventing) or Task(Batch) based ones.

I guess your question is more towards how SCDF can orchestrate these Stream/Task applications on knative or serverless than running SCDF itself.

In that context, we'll see how knative eventing (along with CloudEvents) evolves and decide how SCDF can support it.

With

[2021-01-21 10:56] TimoSchaz opened #4340 "seccompProfile under podSecurityContext does not work"
I tried to apply seccompProfile under podSecurityContext for Tasks and Streams that should be deployed via SCDF Server and Skipper ,but it seems that they are not used.
Is it possible to set the Profile there ?
I think this is an important feature that should be supportet to provide better security.

I configured it as follows but its not working:

data:
  application.yaml: |-
    spring:
      cl

[2021-01-21 11:02] ilayaperumalg commented on #4340
Hi @TimoSchaz , Thanks for reporting!

Yes, `seccompProfile` is not supported and we can look at supporting in the upcoming release.
If you would like to contribute, please submit a PR and we'd happy to help you clarify any questions you may have.

I am also moving this to `spring-cloud-deployer-kubernetes` as this issue belongs there.

[2021-01-21 11:03] #4340 closed

[2021-01-21 11:03] ilayaperumalg commented on #4340
Issue moved to [spring-cloud/spring-cloud-deployer-kubernetes #412](https://github.com/spring-cloud/spring-cloud-deployer-kubernetes/issues/412) via [**ZenHub**](https://www.zenhub.com/)

[2021-01-21 14:50] cppwfs commented on #4335
Hello,
This is a known issue as discussed here: https://github.com/spring-cloud/spring-cloud-dataflow/issues/4265.   We are in the process of updating how SCDF Composed tasks handle arguments to meet your requirements.   You can review the PR here: https://github.com/spring-cloud/spring-cloud-dataflow/pull/4314

Thanks for opening the issue.  For now I will close it and you can track its progress

[2021-01-21 14:50] #4335 closed

[2021-01-21 15:12] cppwfs commented on #4329
Yeah that is my bad.  The task-execution-id is not stored in the task manifest, which is used to populate the "Applications Properties".   This is because each launch always gets a new task execution id.   You can see the task-execution-id passed in via the environment by executing the `kubectl describe pod <your task pod>`
i.e.
[code]
It looks like your container is not passing the environment or

[2021-01-21 15:19] cppwfs commented on #4329
How are you building your containers?

[2021-01-21 15:32] cppwfs commented on #4291
Let's go back to my comment here: https://github.com/spring-cloud/spring-cloud-dataflow/issues/4291#issuecomment-755598765
In this comment I mentioned the container creation methods that we support.   But I also mentioned that I'd take a look at your scripts in the `--scripts-url` of your S2I to see if I can help there.

[2021-01-21 19:23] deepak5127 commented on #4294
Please let me know if I can work on this issue

[2021-01-22 03:17] ilayaperumalg commented on #4294
@deepak5127 Yes, please. Thanks for looking into it! Let us know if you need any help.

[2021-01-22 04:49] robinsomarajv commented on #4329
I use docker containers building through jenkins.

[2021-01-22 08:43] tan31989 commented on #3201
Hi @tzolov, do let me know if this needs further discussion for whatever you folks had planned. Appreciate your time.

[2021-01-22 09:46] #4333 closed

[2021-01-22 10:15] BulyginDN commented on #4158
Hi! I will do it soon

[2021-01-22 15:47] cppwfs commented on #4329
So you are providing a Dockerfile for Jenkins correct?

[2021-01-22 18:33] cppwfs opened #4341 "Allow users to store timezone for each platform"
This is for display purposes for when a user views info about a platform and task execution, they can see the Timzone that the platform is located.
This is an optional field.

[2021-01-22 18:34] cppwfs commented on #4303
@23king Thank you for your contribution.   We do appreciate it.   However, we had a discussion on this topic today, and decided that do not wish to convert the schedule cron expression for each platform.   But rather store this timezone information for each platform.    The issue is located here: https://github.com/spring-cloud/spring-cloud-dataflow/issues/4341

[2021-01-22 21:16] sabbyanandan commented on #4338
As an alternative, we could proxy Docker Hub through Harbor to get around the rate-limiting. See: https://tanzu.vmware.com/developer/guides/kubernetes/harbor-as-docker-proxy

[2021-01-23 03:38] robinsomarajv commented on #4329
Yes, I use a basic version with just java -jar <jar>?
![docker](https://user-images.githubusercontent.com/14326222/105567777-3377ca00-5cfa-11eb-8a7d-7f16c007d93f.jpg)
can you please help with a sample dockerfile.

[2021-01-23 16:21] cppwfs commented on #4329
You will probaby want to set the  entrypoint style propery to `shell` when launching your task.   As discussed here: https://docs.spring.io/spring-cloud-dataflow/docs/current/reference/htmlsingle/#_entry_point_style_2

If that doesn't work you may want to look at how your startup.sh passes properties and arguments to your task applicaiton.

[2021-01-24 08:49] sunnygoel8 opened #4345 "Install SCDF toolkit on K8s using Helm v3"
**Problem description:**
Unable to install SCDF on K8s using Helm v3

**Solution description:**
We're planning to install SCDF on OpenShift Container Platform soon. So wanted to know by when can we expect Helm v3 support in SCDF.

[2021-01-24 09:10] f3l1xss commented on #2454
I find it quite baffling for this seemingly basic feature to be missing

[2021-01-24 17:18] sabbyanandan commented on #4247
Relates to https://github.com/spring-cloud/spring-cloud-dataflow/issues/3902.

[2021-01-24 17:32] sabbyanandan commented on #4345
Hi, @sunnygoel8. Have you had a chance to review the [getting-started guide for Kubernetes](https://dataflow.spring.io/docs/installation/kubernetes/helm/)?  Our helm chart is now hosted/maintained by Bitnami, and the chart has been compatible with both Helm 2 and 3 for many months now.

If you have issues provisioning the chart on Helm 3, please open an issue against the Bitnami chart, we can have

[2021-01-24 17:32] #4345 closed

[2021-01-24 17:51] sabbyanandan commented on #2454
Hi, folks. As you might have read in the docs or StackOverflow threads, the local impementation of the SCDF is recommended for dev/sandbox experimentation, and there are no resiliency patterns backed into the local deployment experience. Scheduling happens to be one of the critical components that you'd expect to have non-functional requirements baked-in, and we didn't want to add support for it a

[2021-01-25 03:14] robinsomarajv commented on #4329
Thanks @cppwfs I was able to get it working changing the entrypoint style to shell and describe of POD shows the correct task_ID generated from SCDF.

[2021-01-25 03:14] #4329 closed

[2021-01-25 17:49] sabbyanandan opened #4346 "Add spring-cloud-dataflow-single-step-batch-job module"
As we continue to explore the exposition of the single-step-batch-job autoconfiguration's in SCDF's Dashboard, it would require building a new application (similar to CTR), and the source of it would reside under the `spring-cloud-dataflow-single-step-batch-job` module.

**Acceptance:**
- The `spring-cloud-dataflow-single-step-batch-job` module includes the source of the Boot app with all the avai

[2021-01-26 03:20] robinsomarajv commented on #4334
Passing properties with this pattern worked app.<composed-task-name>.<label-name>.<properties-name>

[2021-01-26 03:20] #4334 closed

[2021-01-26 08:36] #4332 closed

[2021-01-26 18:18] sabbyanandan opened #4348 "Switch DataflowIT to use 3.0 Apps"
Once when we have the 3.0 Apps available via bulk-import links, we will want to make sure the DataFlow IT is updated to use the apps and the new properties correctly.

Same as #4350

[2021-01-26 22:49] deepak5127 commented on #4294
@ilayaperumalg  @trisberg  The pod spec creation happens in AbstractKubernetesDeployer which is in spring cloud deployer kubernetes project.  Do we need to make change in that project ? I see DefaultTaskExecutionService pass only the properties with other parameters to the launcher .

Please let me know if I miss anything.

[2021-01-27 11:39] ilayaperumalg commented on #4294
Hi @deepak5127 ,

This involves changes in multiple places:

- SCDF server platform account where we can specify multiple imagePullSecrets instead of just one (this is for Tasks)
- same for Skipper server platform account (this is for Streams) via a new platform account property `imagePullSecrets`
- Spring Cloud Deployer Kubernetes where we can update the `imagePullSecrets` for both task/stream Po

[2021-01-27 12:06] MariusKl commented on #982
Hi @ilayaperumalg,

you wrote that an own repo will replace the spring repo. I added this
[code]
but end up with two remote repositores, both "myRepo" and "springRepo" in `MavenProperties.setRemoteRepositories`. I could not find any option to remove the springRepo. Is it possible?

[2021-01-27 16:31] deepak5127 commented on #4294
Thanks @ilayaperumalg

[2021-01-27 17:19] tzolov opened #4350 "Align the docker-compose configurations to the new https://dataflow.spring.io/[rabbit|kafka]-[mave|docker]-latest (v.3 apps)"
This PR https://github.com/spring-io/dataflow.spring.io/pull/336 switches to `https://dataflow.spring.io/[rabbit|kafka]-[mave|docker]-latest` apps URI shortcuts to the latest streaming-application (e.g. v3 apps).
It also removes the `https://dataflow.spring.io/[rabbit|kafka]-[mave|docker]-latest-v2` shortcuts pointing to the same apps.

To reach the Einstein apps one need to use the new `-einstein

[2021-01-27 17:19] github-actions[bot] opened #4351 "backport(4350): Align the docker-compose configurations to the new https://dataflow.spring.io/[rabbit|kafka]-[mave|docker]-latest (v.3 apps)"
Backport #4350

[2021-01-27 19:55] sabbyanandan opened #4353 "Deleting app coordinates from the registry results with an inconsistent stream representation"
I had a few streams in undeployed status; however, I was allowed to delete the coordinates from the registry without warning.

The resulting stream definitions show the apps with red labels, and it is unclear to me as a user what I should be expecting when deploying this stream.

![image](https://user-images.githubusercontent.com/1562654/106046019-92409900-6096-11eb-902e-d4c52703e332.png)

I do ge

[2021-01-28 09:15] umutcann commented on #4291
I attached s2i scripts below.

[s2i.zip](https://github.com/spring-cloud/spring-cloud-dataflow/files/5886009/s2i.zip)

I hope that it helps to figure out issue.

[2021-01-28 13:43] jvalkeal commented on #4261
Closed issue can be marked to get backported, no need to re-open.

[2021-01-28 13:43] #4261 closed

[2021-01-29 08:47] CEDDM commented on #4295
Hi,
Thanks for your work !
In my company, the proxy needs authentication. Maybe you coud add 2 other properties to handle it
Something like `spring.cloud.dataflow.container.httpProxy.user` and `spring.cloud.dataflow.container.httpProxy.password`
Would be great !

[2021-01-29 09:12] sadovnikov commented on #4295
@CEDDM, is using `http://username:password@proxy.thing.com:8080/` format of the proxy URL an option for you? The password would be in the open form anyway

[2021-01-29 10:47] szopal opened #4354 "SCDF on Kubernetes problem in Grafana dashboard"
Hi,

I have installed SCDF on GKE with CloudSQL  PostgreSQL connection. I was doing according to the instructions from https://dataflow.spring.io/docs/installation/kubernetes/kubectl/. Everything working fine without Task/Application Grafana dashboard. When I open Task or Application  dashboard I get red color pop up message:

For Task:
_Templating
Template variables could not be initialized: pars

[2021-01-29 20:21] cppwfs opened #4356 "CTR Task Execution Detail results should show percent complete."
Should provide a percent complete field for API requests for the following:
* Last Task Execution for CTR on Task Definition List
* Last Task Execution for CTR on Task Definition View (detail)
* Task Execution Detail

[2021-02-01 07:22] shalomyasap opened #4358 "SCDF UI - getting error 500 at the UI when trying to open Tasks definition window"
We are getting error 500 when trying to open the UI at task definitions window.
This error raise when task attribute value containing a pipe character - " | ".
The task defines successfully via REST API with all attributes and their values, including quotes, e.g. <SCDF>/tasks/definitions/TASK_NAME  --data-urlencode "definition=--param-name='abcd|efg'"

This occurs at versions SCDF 2.6.5, 2.7.0 and

[2021-02-01 12:36] tzolov opened #4359 "(Docker-Compose) Deployed applications should be able to override the datasource configuraitons inherided from the Skipper or Dataflow servers"
Currently, for the local deployment, the Spring datasource configuration of thg Dataflow/Skipper server is passed to the deployed applications as part of the environment context.

This affects only the maven/jar applications deployed in local mode.

Because the existing docker-compose configurations uses env. variables (e.g. `SPRING_DATASOURCE_URL`) instead of properties (like `--spring.datasource

[2021-02-01 12:37] github-actions[bot] opened #4360 "backport(4359): (Docker-Compose) Deployed applications should be able to override the datasource configuraitons inherided from the Skipper or Dataflow servers"
Backport #4359

[2021-02-01 13:02] canerkoseren opened #4362 "Deploying an sidecar container"
**Problem description:**
We want to deploy a sidecar container inside the pod where batch-applications running in OpenShift.

**Solution description:**
We want to use a different tool to keep secrets. For this solution we are supposed to deploy a sidecar container.

We are using the 2.7.0-RC1 version of scdf. In this version, we can deploy only one container inside a pod. It is possible to deploy

[2021-02-01 16:17] cppwfs opened #4363 "Remove SCDF-Core dependency from SCDF-CTR"

[2021-02-01 18:38] #4363 closed

[2021-02-01 21:07] cppwfs commented on #4358
Thank you for reporting the issue.
The issue is occuring on the SCDF server side Line 212 of the TaskDefinitionController.  DataFlow is determining if tasks in the resultset belong to a composed task or if they are independent tasks.  To do this it parses the definition for each of the entries.   The parse is failing because the quotes have been removed during the property sanitization stage locat

[2021-02-01 21:17] shalomyasap commented on #4358
Hi Glenn,

Thank you for your time and analysis.
So I guess a fix will be consider at R2.7.2?

Regards,
Shalom

[2021-02-01 22:29] cppwfs commented on #4291
Is the run-java in the run file the one provided by fabric8 or is this a run-java.sh that you are using?

[2021-02-02 04:26] ilayaperumalg commented on #4362
Hi @canerkoseren , Currently, there is no support to add additional container spec apart from the `init-container` support. But, we'll consider adding it in the upcoming release. Meanwhile, if you would like to contribute, please feel free to do. We'd be happy to help you. Thanks!

[2021-02-02 06:32] umutcann commented on #4291
We are using redhat-openjdk18-openshift:1.8 base image.  This scripts are provided by Redhat. We are using it.

[2021-02-02 07:35] #4358 closed

[2021-02-02 07:35] #4247 closed

[2021-02-02 07:44] #4350 closed

[2021-02-02 08:01] shalomyasap commented on #4358
Hi Glenn,

Thank you very much for the quick fix. It’s greatly appreciated.
I'll test it once it will be release, I assume release 2.7.2.

Best regards,
Shalom

[2021-02-02 12:34] sadovnikov opened #4366 "Failure to open list of schedules"
**Description:**

When SCDF fails to query resources in Kubernetes namespaces (platforms), the `/dashboard/#/tasks-jobs/schedules` page hangs, without showing any errors. The problem is seen only in SCDF server logs.

Expected behaviour: schedules from the platforms, which could be accessed by SCDF, are shown. Ideally, an error message about the failure(s) to access other platforms is displayed to

[2021-02-02 14:59] #4272 closed

[2021-02-02 15:17] cppwfs commented on #4366
Thank you @sadovnikov for reporting this issue.
I've created a new issue in SCDF-UI.  It is located here: https://github.com/spring-cloud/spring-cloud-dataflow-ui/issues/1642.
I will close this issue and it will be resolved in the UI issue above.

[2021-02-02 15:17] #4366 closed

[2021-02-02 16:14] cppwfs commented on #4356
Closed Invalid

[2021-02-02 20:34] cppwfs commented on #4291
I just reread the comments.  So you were able to get it to work when you used shell entrypoint style.   If so, I think we can close this issue.

[2021-02-03 09:06] tzolov commented on #4295
Hi @CEDDM,
Is the @sadovnikov suggestion working for you?

[2021-02-03 11:19] riccardanaeve1 opened #4368 "Unable to change zookeeper into j zookeeper"
Despite changing the application properties, i am unable to change zookeeper into jzookeeper. After updating the stream some of the configuration falls back to a default mode.

[2021-02-03 11:44] umutcann commented on #4291
Yes @cppwfs ,we are able to deploy apps using shell. But we can not restart task using shell due to bug in spring boot as you mentioned in this `issue`.(https://github.com/spring-cloud/spring-cloud-dataflow/issues/4199#issuecomment-709418122).

Because of that we are trying to launch task using exec.

Now we are locked state. I hope that you understand us.

[2021-02-03 13:44] sadovnikov opened #4369 "Scheduling of a Task for a Platform fails"
**Description:**

Created for a Task schedule loses the Platform information, is shown twice on the Task details page and fails to display details

**Release versions:**

Version is 2.7.1

[code]

Installed with Bitnami Helm

[code]

**Steps to reproduce:**

Initial state of the Task
![image](https://user-images.githubusercontent.com/4749332/106753979-b10dd500-662c-11eb-9d35-dee0171a38fc.png)

No

[2021-02-03 16:46] #4258 closed

[2021-02-03 16:46] #4265 closed

[2021-02-03 17:20] dbahatSAP opened #4370 "Bad recovery in case of an error during DB schema creation could leave the DB in a permanent corrupted state"
**Description:**
When DB schema creation fails after a certain point, SCDF fails to recover automatically, leaving the the DB in an unrecoverable state.

**Release versions:**
Observed on SCDF 2.5.3. Still exists in master if we analysed the issue correctly.

**Steps to reproduce:**
Our estimation of the repro steps following an investigation of the corrupted DB state -
1. Start SCDF using postgre

[2021-02-03 17:59] deepak5127 commented on #4294
@ilayaperumalg  I see changes needed only on spring-cloud-deployer-kubernetes project because both data flow and skipper's kubernetes deployer / platform properties are extended from it. I have create a PR, please let me know your thoughts.

[2021-02-04 11:52] github-actions[bot] opened #4371 "backport(4306): SCDF change the initial shape of deployment parameters and make them impossible to reuse"
Backport #4306

[2021-02-04 11:54] jvalkeal commented on #4306
On a 2.8.x line launch page will get overhauled meaning UI might get some changes for validation but same issue on a server side and UI in 2.7.x would show this issue.

[2021-02-04 11:54] #4306 closed

[2021-02-04 16:43] yoep opened #4373 "Dataflow-server: Ending a task flow on a certain condition results in an error on task creation"
**Description:**
We're trying to create a task flow which should end when a task application ends on exit status `X`.
When adding a condition on the flow to the end, the following gets added to the task definition `'X'->$END`.
When trying to create this flow, the task definition gets rejected.

The error message which is shown:
`The 'task:$END' application could not be found.`

**Release versions:

[2021-02-05 10:05] CEDDM commented on #4295
Hi @sadovnikov and sorry for the late answer
We have sometimes troubles with this kind of URL format because our username is our email address (so with an @) breaking the string.
Sometimes encoding the @ with %40 works, but not all the time ...

[2021-02-05 18:12] sabbyanandan opened #4375 "Upgrade to SCT 2.3.0"

[2021-02-06 06:53] robinsomarajv commented on #3712
@sabbyanandan does the bitnami helm charts supportoauth configuration

[2021-02-08 02:33] aaryadewa commented on #4322
Hi, @DemianTinkiel. I have a similar requirement. Our main app should be able to create task definition from within the app itself. It can also run a scheduler that trigger an SCDF task. But sometimes we have our SCDF server down while we starting up the main app, which would fail because the SCDF server is not up.

[2021-02-08 06:18] #3201 closed

[2021-02-08 06:22] #4196 closed

[2021-02-08 09:35] jvalkeal commented on #4278
This issue was handled with a pr #1626

[2021-02-08 09:35] #4278 closed

[2021-02-08 09:36] #4256 closed

[2021-02-08 14:30] umutcann commented on #4291
Hi, @cppwfs

How can we proceed? Do you have any guidance regarding my previous comment?

Thanks in advance.

[2021-02-08 14:34] cppwfs opened #4377 "Provide average runtime for composed tasks for execution detail"
User wants to the average run time for the previous executions of a composed task.   This information can be obtained by utilizing the task execution detail endpoint for example: `http://localhost:9393/tasks/executions/2371`.

[2021-02-09 08:37] nobelbill opened #4379 "Stayed in a running state (does not change to a completed state)."
composite task in k8s environment"
<t1: timestamp || t2: timestamp>" never ends

Stayed in a running state (does not change to a completed state).

Log is

[main] o.s.b.c.l.support.SimpleJobLauncher: Job: [FlowJob: [name=t-main]] completed with the following parameters: [{run.id=1}] and the following status: [COMPLETED] in 10s446ms

Other logs that are normally completed are as follows.

[main] o.

[2021-02-09 09:46] jvalkeal opened #4380 "Update pivotal cloud services"
Looking at versions for `io.pivotal.cfenv` and `io.pivotal.spring.cloud:spring-cloud-services-starter-config-client`. That latter is wrongly synched to central and not promoted to `libs-release-local` for versions we use.

i.e.

https://repo.maven.apache.org/maven2/io/pivotal/spring/cloud/spring-cloud-services-config-client-autoconfigure/3.1.3.RELEASE/
https://repo.spring.io/libs-milestone-local/i

[2021-02-09 12:57] cppwfs commented on #4379
Thank your for asking.     When using composed task splits you will need to close the spring context by adding the following property `spring.cloud.task.closecontext-enabled=true`.   You can read more about it here:  https://dataflow.spring.io/docs/feature-guides/batch/composed-task/#arguments-and-properties

[2021-02-09 12:57] #4379 closed

[2021-02-09 22:41] nobelbill commented on #4379
@cppwfs
Thank you!!

[2021-02-10 10:27] jvalkeal opened #4381 "Use existing task resource from a manifest"
With a previous task launch overhaul, while we did great things to allow user to define versions with a launch some things were left unimplemented:

- We always use version user selects in a UI form
- In shell we can just launch a task with no options so it silently default to default app

As this is a server side ticket, we should use the one from a manifest(if there's one) and use it if launch r

[2021-02-10 10:40] jvalkeal opened #4382 "Update task launch docs"
After a big overhaul, we need a complete re-write of how task launch works.

[2021-02-10 22:33] sabbyanandan commented on #4354
Hi, @szopal. What version of SCDF are you using?

[2021-02-10 22:35] sabbyanandan commented on #4368
Hi, @riccardanaeve1. When opening new issues, we advise that you include as much detail, so it will help us review it thoroughly. Please take a moment to update the description with versions and the steps you followed to change the ZK coordinates.

[2021-02-10 22:37] sabbyanandan commented on #4369
Hi, @sadovnikov. Thank you for the thorough details. There appears to be flawed at many levels; we will have a look.

[2021-02-10 22:39] sabbyanandan commented on #4373
Hi, @yoep. Thanks for the details. We will have a look.

[2021-02-11 00:05] #4381 closed

[2021-02-11 07:44] sadovnikov commented on #4369
@cppwfs I'll be happy to help. Changing log levels, lookups with kubectl, testing with snapshots...

[2021-02-11 08:53] szopal commented on #4354
Version: 2.7.1

[2021-02-11 13:45] cppwfs commented on #4291
Hello @umutcann ,
There have been updates on https://github.com/spring-projects/spring-boot/issues/23411.

[2021-02-11 16:49] jkorzo opened #4385 ""Search for keywords" field breaks when stream-enabled is set to false"
**Description:**
The "Search for keyword" field breaks when streams are disabled in the UI. Specifically, when the "spring.cloud.dataflow.features.streams-enabled" property is set to false. When it is set to true the search functionality works as expected.

Error: "An error occurred TypeError: r is not iterable."
Which is caused by the endpoint: /streams/definitions?page=0&size=5&search=bn&sort=na

[2021-02-11 17:44] sabbyanandan commented on #4385
Thanks, @jkorzo. This is most likely a bug in the UI code, we will have a look.

[2021-02-11 17:44] #4385 closed

[2021-02-11 17:44] sabbyanandan commented on #4385
Issue moved to [spring-cloud/spring-cloud-dataflow-ui #1652](https://github.com/spring-cloud/spring-cloud-dataflow-ui/issues/1652) via [**ZenHub**](https://www.zenhub.com/)

[2021-02-11 17:49] sabbyanandan opened #4386 "Revisit the use of `type` when defining monitoring system configs"
I have the following config when describing Wavefront, and I am wondering why we need to explicitly include `type` in it.

[code]

While it might seem useful for when multiple monitoring systems are defined (probably rare cases, though), I don't see this being used in any meaningful ways on the UI since we will only have 1 monitoring-specific button to show.

Let's revisit the need for it, and if

[2021-02-11 22:42] cppwfs opened #4387 "Spring Cloud Data Flow fails to create composed tasks that contain $END"
A composed task definition of `timestamp '*'->t1: timestamp 'FOO'->$END` does not pass dataflow validation because it says task:$END is not a valid application.
In the DefaultTaskService class where we saveStandardTaskDefinition (Line 110) for a composed task we need to gate it with a if statement like:
[code]
This way $END is not treated like an app at task definition create time.

[2021-02-11 22:57] cppwfs commented on #4387
Refer to issue for additional detail: https://github.com/spring-cloud/spring-cloud-dataflow/issues/4373

[2021-02-11 22:59] cppwfs commented on #4373
I was able to reproduce this problem.   I've opened up the following issues to resolve this problem.
https://github.com/spring-cloud/spring-cloud-dataflow-ui/issues/1653
https://github.com/spring-cloud/spring-cloud-dataflow-ui/issues/1654
https://github.com/spring-cloud/spring-cloud-dataflow/issues/4387

Thank you for reporting.

[2021-02-11 22:59] #4373 closed

[2021-02-12 06:21] umutcann commented on #4291
Hello @cppwfs ,

As I understand you are making design decision for shell bug.

May you estimate to present release version of fix?

As I told in my previous [comment](https://github.com/spring-cloud/spring-cloud-dataflow/issues/4291#issuecomment-772447843), we are now stuck state.

We are trying to run our all batches over SCDF. Due to this problems, we couldn't service restart capability. It cau

[2021-02-12 13:42] jvalkeal commented on #4240
Just a comment here as I'm opting to close this as moot as with task overhaul we can now use proper versions, thus all troubles what might come with cycling versions should go away by picking a new version with launch.

[2021-02-13 05:34] iamanemissary opened #4388 "MariaDB client doesn't support sha256_password authentication"
**Description:**
Launching the Spring Cloud Data Flow Server using a MySQL version 8.0.23 or higher fails because the MariaDB client driver used does not support sha256_password authentication. As per MariaDB documentation, sha256_password authentication is only supported starting version 2.5.0.

Stacktrace:
Caused by: org.springframework.jdbc.support.MetaDataAccessException: Could not get Connect

[2021-02-14 15:03] cppwfs commented on #4291
Hello @umutcann,
I'm sorry you are having difficulties with this issue.   However in this case, your diagnosis that it is SCDF's issue is incorrect based on the information you have provided in our conversation above.   The solution that you require is a new feature in the JobLauncherApplicationRunner of the Spring Boot project (Issue:  https://github.com/spring-projects/spring-boot/issues/23411)

[2021-02-16 11:41] jvalkeal commented on #4388
Ah yeah I remember that we had a need to pump this version as boot used manage older version. That naturally caused it not being updated when boot moved to newer version. We can update with next releases.

[2021-02-16 11:42] github-actions[bot] opened #4389 "backport(4388): MariaDB client doesn't support sha256_password authentication"
Backport #4388

[2021-02-16 14:58] umutcann opened #4390 "Adding Kubernetes Namespace without SCDF restart"
Hi there,

We have 2.7.0-RC1 version SCDF which is running on Kubernetes. We are storing deployable namespace(platform) in configmap like below.

[code]

In our community, we are generating new namespace for batch apps by our need. When every new namespace has generated, we are appending new namespace manually and restarting Spring Cloud Data Flow for our 4 environment(dev,test,qa,prod).

So we wa

[2021-02-16 15:53] #3967 closed

[2021-02-16 16:17] sabbyanandan commented on #4323
Closing due to no activity.

[2021-02-16 16:17] #4323 closed

[2021-02-16 16:22] sabbyanandan commented on #4307
Close this in favor of https://github.com/spring-cloud/spring-cloud-dataflow/issues/4382.

[2021-02-16 16:22] #4307 closed

[2021-02-16 16:35] sabbyanandan commented on #4338
We have an environment, but the automation chores are pending still.

[2021-02-16 17:17] dbahatSAP commented on #4370
Is there some locking taking place when running the above code, so that multiple SCDF server instances won't attempt to create the DB schema at the same time?
We saw the above case repro again, this time there were no retries / failed attempts - can this be a concurrency issue? (instance 1 created table APP_REGISTRATION and created the full schema, instance 2 detected APP_REGISTRATION exists and r

[2021-02-16 18:19] cppwfs commented on #4291
To prevent confusion we will close this issue and put all new notes on #23411.

[2021-02-16 18:19] #4291 closed

[2021-02-16 20:10] revkov opened #4391 "java.util.function.Function with Message<> interface if return null not ignore message"
I create java.util.function.Function processor:
[code]

When i run it, on "hello" messages i get exeption:
[code]

if i changed second argument from Message<String> to String it works fine. but i can not set custom headers:
[code]
I think this is bug. Please fix it, Maybe your need check returned result in both cases and no cast to Message<> interface, only full ignore.

**Release versions:**
<spr

[2021-02-16 20:19] #4391 closed

[2021-02-16 20:19] sabbyanandan commented on #4391
Issue moved to [spring-cloud/spring-cloud-stream #2116](https://github.com/spring-cloud/spring-cloud-stream/issues/2116) via [**ZenHub**](https://www.zenhub.com/)

[2021-02-17 12:54] umutcann opened #4393 "Debug Log level"
Hi there,

We are using 2.7.0-RC1 Spring Cloud Data Flow on kubernetes. Although we pass an argument --logging.level.org.springframework.cloud.deployer.spi.local=DEBUG to SCDF run command, We are still viewing INFO level bug.

How can we change log level to DEBUG?

Thanks.

[2021-02-17 18:14] sabbyanandan commented on #4393
Hi, @umutcann. Please use StackOverflow for questions.

[2021-02-17 18:14] #4393 closed

[2021-02-17 18:20] sabbyanandan commented on #4390
Hi, @umutcann. Today, the platform accounts (in SCDF/Skipper) are represented as declarative configurations at the time of installation, and they are _not_ persisted. We persist just the stream/task manifest and what platform they were deployed against.

Feel free to explore how to design this persistence component, and start a dialog with the PR.

[2021-02-18 07:13] siddhantsorann opened #4396 "Composed Task failing with task listener"
**Description:**
I am using v2.4.0 of spring cloud dataflow on kubernetes. I have a composed task attached below. Recently I added a task listener to all my tasks. Before adding a listener all tasks were successful even if the job inside fails, so in composed all of them ran. As part of the listener, we decided to add an exit message to all tasks. If all jobs under the task completed we added "COM

[2021-02-18 09:25] sadovnikov commented on #4369
I wonder if there are any updates on this one. Thanks in advance!

[2021-02-18 15:28] jvalkeal commented on #4240
Closing as we now have a proper support to launch with a different version and there should not be trouble with i.e. old manifest pointing to non-existent version, etc.

[2021-02-18 15:28] #4240 closed

[2021-02-18 15:29] jvalkeal commented on #4238
Closing as we can now dehydrate old context when launching a task which helps with these issues.

[2021-02-18 15:29] #4238 closed

[2021-02-18 19:22] cppwfs commented on #4396
All apps in a split will be executed as your example above shows.   However if one or more apps in the split returns as FAILED the composed task will not proceed to the next step following the split.

[2021-02-18 19:55] cppwfs commented on #4369
There are `reference-apps` in the runtime information you have provided.   Can you verify that in your configuration that this namespace is not repeated.   If not can you provide your configuration?

[2021-02-18 21:08] cppwfs commented on #4377
Closing en-leu of https://github.com/pivotal/scdf-pro-ui/issues/42

[2021-02-18 21:08] #4377 closed

[2021-02-19 11:50] sadovnikov commented on #4369
@cppwfs , thank you very much! Indeed we refer to the same `reference-apps` namespace in `default` and `reference-apps` accounts (`task.platform.kubernetes.accounts`). We want to present every available for deployments namespace as an account. I'll try removing the `default` account, although the documentation gives an impression that it's a mandatory one

[2021-02-19 15:41] cppwfs opened #4398 "Support parenthesis in key name when using shell entry point"
When launching a task app on kubernetes using data flow a user can specify a entrypoint of shell.   This step will then convert all command line args to environment variables.   However in some cases props are may have characters that are not allowed as environment variables.   Specifically the `()` used by spring batch for its run.id ie. `run.id(long)=25`.
Spring Cloud Data flow needs to provide

[2021-02-19 18:09] #4375 closed

[2021-02-19 20:02] cppwfs opened #4399 "Parser getGraph needs to support ability to target $END for a transition"
In the case where a user specifies the following DSL `timestamp 'bag'->$END '*'->mytask`, the parser currently graphs the following ![image.png](https://images.zenhubusercontent.com/5c93c5e09543816d30f633f7/d1fbfdfe-33b1-4c9b-a77d-44540a9d8532)

The `$END` should link to the endpoint.

[2021-02-20 11:39] tzolov opened #4400 "Build the SCDF ITs code in a standalone jar"
Exporting the ITs code would allow to run in in ATs as well.

Part of the https://github.com/spring-cloud/spring-cloud-dataflow-acceptance-tests/issues/332 Epic

[2021-02-21 09:04] ashishreddyv opened #4402 "Support for all deployer properties via helm templates"
**Problem description:**
The SCDF helm charts skipper/configmap.yaml provides a finite set of [deployer properties](https://docs.spring.io/spring-cloud-dataflow/docs/current/reference/htmlsingle/#configuration-kubernetes-deployer) like "environmentVariables", "resources.limits", "resources.requests" etc in the helm charts, but there are other deployment properties that are not supported by the hel

[2021-02-21 09:32] ashishreddyv opened #4403 "Support multiple platforms via helm charts"
**Problem description:**
Although SCDF server/skipper support [multi-platform deployments](https://dataflow.spring.io/docs/recipes/multi-platform-deployment/), the helm charts do not support these currently. This leaves us to duplicate the binder properties and other environment variables if we have to read these from a custom configmap.

**Solution description:**
A flexible solution would be to a

[2021-02-22 08:22] #4400 closed

[2021-02-22 10:11] nithril commented on #3786
Hi all,

@jvalkeal

The column definition is `text` and not `oid` [1], it is a soft reference it explains with vacuumlo is collecting those large objects.

The column contains in fact not the stream definition but the oid but as text. The issue is IMHO on the spring cloud data flow/hibernate side that should declare that column as `oid` and not `text`. I was not able to find a clear  explanation o

[2021-02-22 14:46] mminella commented on #4398
@cppwfs We should not require a custom runner/main method to use SCDF. This goes against rule number 1 for using SCDF.

[2021-02-22 14:56] #4387 closed

[2021-02-22 14:59] cppwfs commented on #4398
I understand.   It seems we need to provide a tool, doc, or, a data flow sample that does this conversion back to parenthesis.

[2021-02-22 15:07] mminella commented on #4398
That's missing the point. A user should be able to take a plain Spring Boot application and run it via SCDF. If I need a "tool, doc, or, a data flow sample that does this conversion back to parenthesis" that breaks that rule.

[2021-02-22 16:00] MariusKl opened #4404 "[Local mode] FileAlreadyExistsException if workingDirectoriesRoot is symbolic link"
**Description:**
In our usecase we have a local deployment. The log folder is a symbolic link.

`LocalTaskLauncher`s
[code]
fails with a `java.nio.file.FileAlreadyExistsException` because it ends up in the catch of `File`s
[code]
which does not follow links (for a reason I do not get)

I suggest to extend the first code example with
[code]
because `isDirectory()` takes symbolic links into account.

[2021-02-22 16:41] sadovnikov commented on #4369
@cppwfs, removal of the `default` account, which was referring to the `reference-apps` namespace, helped to resolve duplication of the schedules on the task details page. Destroying task does result in the removal of cronjob from the namespace.

However,
* the created schedule does not appear in the list of schedules at all. It neither appears after the server restart;
* opening details of the sch

[2021-02-22 21:10] cppwfs opened #4405 "When launching a composed task where the CTR is a docker image, CTR's properties don't show up."
Notice in the image below CTR's properties show a count of 0.
![image](https://user-images.githubusercontent.com/695673/108770403-3f88be80-7528-11eb-9b48-dd4851b9dd37.png)

SCDF needs to return CTR properties when the CTR is in a docker container.

[2021-02-23 05:05] swyrik opened #4406 "CTR is failing with unable to create bean with name taskOperations. DataFlowClientException: 401 UNAUTHORIZED"
While triggering a CTR we are getting the following error.

[code]

We were passing the below arguments to the ctr in UI.

--logging.level.org.springframework.security=debug
--logging.level.org.springframework.cloud.dataflow.composedtaskrunner=debug
--dataflow-server-use-user-access-token=true
--increment-instance-enabled=true
--dataflow-server-uri=http://xxx.xx.xx.xxx:9393

We were deploying the

[2021-02-23 15:21] cppwfs opened #4407 "Users want the ability to select the name of the "default" platform."
All users are required to have a `default` platform for launching tasks.   But they need the ability to want to set the name of the `default` platform to meet their naming standards.   As shown in this issue: https://github.com/spring-cloud/spring-cloud-dataflow/issues/4369 users are creating duplicate platforms to meet their naming needs.

[2021-02-23 15:35] cppwfs opened #4408 "Data Flow server needs to return the platform that a schedule is associated"
As shown in this issue: https://github.com/spring-cloud/spring-cloud-dataflow/issues/4369 users have the ability to create multiple platforms that refer to the same namespace(Issue #4407 is the recommended solution to 4369). This causes an issue when a user views the definition detail page.   The UI has to go to each platform and determine if there is an associated schedule for that task.    In th

[2021-02-23 15:47] cppwfs commented on #4369
Hello @sadovnikov ,
I was able to reproduce the initial issue.    The basic issue is that SCDF assumes that each namespace is associated with only one platform.   So when the same namespace is associated with the default platform and another platform this problem shows up.   I've created 2 issues to resolve this issue,   #4407 and #4408.
In the meantime the default namespace is required and so for

[2021-02-23 17:01] sadovnikov commented on #4369
I understood this from your previous reply and removed the default account.

I'll try adding a third namespace, which won't be used for deployments, as the default one

[2021-02-24 09:54] sadovnikov commented on #4369
Hello @cppwfs , I restored the "default" platform (linked to a separate namespace). However, it did not change much.
The problem is that SCDF loses information about the platform the schedule is for.

For the same Task I created two schedules. One for a specific platform, the second one for "default".

* none of the schedules has a platform displayed on the Task details
![image](https://user-image

[2021-02-24 23:43] cppwfs commented on #4369
Hello @sadovnikov,
First off thanks for reporting these issues and giving great detail, it is most helpful.

Now lets get started:
Issue 1: Only able to view one platform of schedules when we may have 1 or more schedules.
In this case you should be able to view the the schedules by platform by selecting the filter icon on the Platform column of the schedules page as shown below.
![image](https://u

[2021-02-25 08:27] sadovnikov commented on #4369
Hello @cppwfs. Thank you very much for the hint about the filter on the Schedules page. Indeed, both schedules are there. However, and this differs on your screenshots, we do not get platforms displayed there at all. Would you have any suggestions on how to debug this one?

![image](https://user-images.githubusercontent.com/4749332/109124525-4fccb380-774b-11eb-9d36-4651a1f2b9d0.png)

![image](http

[2021-02-25 08:35] #4388 closed

[2021-02-25 13:56] benas opened #4410 "Job executions screen spinning forever with non SCT apps"
**Description:**

I’m trying to run (locally) a Spring Batch app (that is based on Spring Boot) but is _not_ a Spring Cloud Task app and I get the following warning:

[code]

I can understand that. However, when I browse the “Job executions” screen, I get the following error in the logs and the screen keeps spinning forever (see attached screenshot):

[code]

Is that intended or is this a bug?

**

[2021-02-25 14:54] cppwfs commented on #4408
This issue has been resolved here: https://github.com/spring-cloud/spring-cloud-dataflow-ui/issues/1670

[2021-02-25 14:54] #4408 closed

[2021-02-25 15:37] benas commented on #4398
This issue is valid for any application type that can run on SCDF (which could be a non java app, as mentioned in the [docs](https://dataflow.spring.io/docs/concepts/architecture/#application-types)). I see no way to solve this issue in general, because this docker limitation of ignoring command line args in the `shell` form is beyond SCDF capabilities.

However, if we want to fix this issue for t

[2021-02-25 15:42] cppwfs commented on #4398
I did present that idea during the meeting on Friday, and it was brought up, that we are asking Spring Cloud Task to fix a Data Flow specific problem.   And thus we moved on to other ideas.

[2021-02-25 19:47] cppwfs commented on #4410
This issue has been reported here: https://github.com/spring-cloud/spring-cloud-dataflow-ui/issues/1620.   It has been resolved in 2.8.x but has not been backported to 2.7.x.   I reopened https://github.com/spring-cloud/spring-cloud-dataflow-ui/issues/1620 with a backport flag.

[2021-02-25 19:47] #4410 closed

[2021-02-25 22:00] nithril opened #4411 "Postgresql text columns are created as "text" but are declared as @Lob"
**Description:**

In the flyway sql script, the postgresql text columns are created as "text", for example for `stream_definitions`:
[code]

The JPA entity is declaring the column as a `@Lob`
[code]
By consequence Hibernate/JDBC driver are managing the `definition` as a large object stored into a specific table and are storing the large object id into the column `definition` that is of type `text`

[2021-02-26 07:22] swyrik commented on #4406
Do you need any additional info on this?

[2021-02-26 17:46] sabbyanandan commented on #4251
Resolved by https://github.com/spring-cloud/spring-cloud-dataflow/issues/4267.

[2021-02-26 18:21] szopal commented on #4406
I have the same problem as you with Google OAuth 2.0. I also get HTTP 401
error. But when I used keycloack for OAuth 2.0 it works - but I also had
problem  because I had different timezone on keycloack server and SCDF
server and token always was expired. After I've changed timezone and set in
config-map

spring:
  cloud:
    dataflow:
      task:
        composedtaskrunner:
          use-user-acce

[2021-02-27 10:18] aphethean1 opened #4412 "Azure Container Registry fails with 400 Bad Request"
**Description:**

According to the [documentation](https://dataflow.spring.io/docs/2.6.x/feature-guides/general/application-metadata/#using-metadata-container-image-labels), ```basicauth``` authorization type can be used to lookup the metadata from Azure Container Registry.

This configuration results in the following error:

[code]

[code]

This problem occurs because the second request, for imag

[2021-02-27 10:28] aphethean1 opened #4413 "Lookup of docker ApplicationConfigurationMetadataResolver from Azure Container Registry with dockeroauth2"
**Problem description:**

Lookup of docker ApplicationConfigurationMetadataResolver from Azure Container Registry doesn’t work with ```dockerauth2```

This configuration almost works, but the response from the token request has an ‘access_token’ property in the response payload.  Whereas the DockerOAuth2RegistryAuthorizer expects a token key response with a ‘token’ property.

As reported in [issue

[2021-02-27 16:17] swyrik commented on #4406
How you have updated the time zone in SCDF. can you please help on that line? @szopal

[2021-02-27 22:07] szopal commented on #4406
In your SCDF deployment you should add:

    spec:
      containers:
        - name: scdf-server
          image: springcloud/spring-cloud-dataflow-server:2.7.1
          imagePullPolicy: Always
          volumeMounts:

*            - name: tz-config              mountPath: /etc/localtime
      - name: tz-config              mountPath: /etc/timezone*
      volumes:

*        - name: tz-config

[2021-02-27 22:10] szopal commented on #4406
In your SCDF deployment you should add:

[code]

But it's not all - you should add timezone definition for POD which are
started from SCDF this is from my SCDF config-map:

[code]

Please, let me know if I help you.

[2021-03-01 18:29] cppwfs commented on #4369
Sorry for the delayed response.
The screen I attached was based on a PR that resolves the problem of the platform not showing up:    https://github.com/spring-cloud/spring-cloud-dataflow-ui/pull/1672.  But the filtering the page by platform should work:
![image](https://user-images.githubusercontent.com/695673/109541755-2638c280-7a92-11eb-8246-776995bad0f8.png)

[2021-03-02 08:24] #3902 closed

[2021-03-02 16:08] #4359 closed

[2021-03-02 16:08] sabbyanandan commented on #4359
Issue moved to [spring-cloud/spring-cloud-deployer-local #202](https://github.com/spring-cloud/spring-cloud-deployer-local/issues/202) via [**ZenHub**](https://www.zenhub.com/)

[2021-03-02 16:22] sabbyanandan opened #4414 "Add an API to bulk-cleanup task executions for a given task definition"

[2021-03-02 19:29] dturanski commented on #4267
I cannot reproduce this with the `timestamp` sample with `SCDF 2.8.0-SNAPSHOT` deployed to our CF test environment.
It appears to work as expected.

Testing steps:
  - Deploy SCDF to CF
  - Register OOTB task apps
  - Register SNAPSHOT versions using https://dataflow.spring.io/Elston-BUILD-SNAPSHOT-task-applications-maven
  - Now I have 2 versions of timestamp
  - Create the timestamp task
  - Lau

[2021-03-02 19:31] dturanski commented on #4267
I do see an error in the dataflow logs when switching versions. It appears to have no impact on this issue, but should be addressed.

[code]

[2021-03-02 21:06] guoyiang commented on #3962
I recently run into this issue as well. I deploy dataflow server into a k8s cluster using helm chart. There're some properties in task which needs override (e.g. internal storage server address)

From what I understand, there're two ways to pass in configurations for a task:
1. In platform's default setting inside dataflow server's application.yml, which will apply to all tasks.
2. As deployer pro

[2021-03-03 13:37] github-actions[bot] opened #4416 "backport(4370): Bad recovery in case of an error during DB schema creation could leave the DB in a permanent corrupted state"
Backport #4370

[2021-03-03 13:38] #4370 closed

[2021-03-03 16:58] cppwfs commented on #3962
Hello @guoyiang,
Thank you for your feedback.
Let's explore this topic a bit more.
When you say task, do you mean the `Task App` or  the `Task Definition`?

For your first point, "From what I understand, there're two ways to pass in configurations for a task:"
*  You can set application properties for a task at task definition creation time. i.e.` timestamp --timestamp.format=YYYY`
*  For deployer

[2021-03-04 09:02] tan31989 commented on #3810
Hey Folks,

While looking into the code, I saw the schedules are being setup using this service class `SchedulerService.java` , which for now has a couple of methods only around `schedule`, `unschedule` and `unscheduleForTaskDefinition`.

This eventually means, we could `unschedule` a given modification of a schedule and re-schedule using the `schedule`

The solution talks about:

1. Allow modific

[2021-03-04 09:52] jvalkeal opened #4418 "Nesting in DataFlowITProperties for tests"
Prefix on a class level is `test.docker.compose` and we want to use this for new db tests as well. Have `test` as top-level and nest `test.docker.compose` so that we can also have namespace like `test.db`.

[2021-03-04 12:26] #4418 closed

[2021-03-08 06:15] guoyiang commented on #3962
@cppwfs Thank you a lot for the info. Great hints and I understand something more.

I mixed `Task App` and `Task Definition` together, because we have a simple task definition ATM. I am looking for a way to configure the pod running the task which was triggered by a Task Definition. But the goal is to pass some configuration when running a task app, which is triggered through a definition.

I play

[2021-03-08 10:19] Manu10744 opened #4422 "Missing tables in target Database when using H2 Server Connection"
I'm using Spring Cloud Dataflow `Version 2.6.3` to register and launch a `Spring Batch Job.`
As im using Docker Containers, i tell SCDF to connect to the H2 Database Container using `--spring.datasource.url=jdbc:h2:tcp://h2:1521/db` and `--spring.datasource.driver-class-name=org.h2.Driver` and, theoretically, this works fine.

### The Problem
Application A is split into a `batch application` part

[2021-03-08 14:17] guoyiang commented on #3962
Noticed there's a similar issue #2194

[2021-03-08 15:40] Manu10744 commented on #4422
Ok, so in case anyone is interested in the solution:
Apparently this can be fixed by adding these arguments to the startup command of spring cloud data flow:

[2021-03-08 15:41] #4422 closed

[2021-03-08 18:41] #4405 closed

[2021-03-08 19:25] cppwfs opened #4423 "SCDF needs to support allowing users to set deployer properties for tasks at task definition time"
Users need the ability to set deployer properties as well as application properties at task definition creation time.
This is related to the discussion here: #3692

[2021-03-08 19:27] cppwfs commented on #3962
@guoyiang I had a discussion with the team on this topic.  So we created the following issue to handle what you have discussed.   https://github.com/spring-cloud/spring-cloud-dataflow/issues/4423   This should address your request.   Thank you for providing excellent feedback.

[2021-03-09 07:49] sadovnikov commented on #4369
Hello @cppwfs, do I understand correctly that spring-cloud/spring-cloud-dataflow-ui#1671 is the only ticket that holds this one open?

[2021-03-09 09:54] jvalkeal opened #4424 "Implement basic database tests"
Integration tests for database scenarios has lived in a acc-tests repo and have grown to be a bit of a monster. To make things easier, do an attempt with test-containers to add simple scenarios as a foundation attempting to test mysql/postgres.

[2021-03-09 13:23] cppwfs commented on #4369
Hello @sadovnikov,
I was awaiting your response.   But yes, https://github.com/spring-cloud/spring-cloud-dataflow-ui/pull/1671 is pending to be worked on.
Also, https://github.com/spring-cloud/spring-cloud-dataflow-ui/issues/1672 has been resolved and will be in the 2.8 release and in next release of the 2.7 as well.
I think we can close this issue.  If you disagree, please reopen.
Again, thanks f

[2021-03-09 13:23] #4369 closed

[2021-03-10 05:51] guoyiang opened #4426 "Allow update existing task definition"
**Problem description:**
At current design, task definition is immutable. It cannot be updated once created. It creates a problem if the user has properties in task definition and it may get changed over time. e.g. `csvImport --fileServer=xxx`, the file server may change.

**Solution description:**
Allow task definition to be updated, or overridden.

**Description of alternatives:**
Delete and rec

[2021-03-10 13:04] #4382 closed

[2021-03-10 13:13] cppwfs commented on #3810
Absolutely !

[2021-03-10 14:18] #4312 closed

[2021-03-10 14:19] jvalkeal commented on #4312
These changes are too tangled with other enhancements to get backported.

[2021-03-11 10:39] #4371 closed

[2021-03-11 11:14] #4351 closed

[2021-03-11 11:14] jvalkeal commented on #4351
It should not have been marked to backport.

[2021-03-11 11:15] #4360 closed

[2021-03-11 11:21] #4416 closed

[2021-03-11 11:29] #4389 closed

[2021-03-11 16:20] jvalkeal commented on #4267
I also poked around this and `t1:timestamp&&t2:timestamp` did run fine and update worked as well when I defined new versions(verified by checking which boot version it logs) and different `format` values.

I didn't see that exception mentioned above.

[2021-03-12 10:41] bmarcj opened #4427 "Allow non-option arguments"
From [this ](https://stackoverflow.com/questions/66581038/non-option-arguments-with-spring-cloud-data-flow/66596294#66596294
)stack overflow issue.

Some applications require non-option arguments. For example the command would be (with one option argument and one non-option argument).

`java -jar task.jar non-option-argument --optionArgumentKey=optionValue`

The dashboard validation prevents this

[2021-03-12 12:38] cppwfs commented on #4427
Hello @bmarcj
Can you provide the SCDF version that you are using?
I was able to replicate on 2.8-SNAPSHOT using the builder but not the freetext
![image](https://user-images.githubusercontent.com/695673/110940616-3314ac00-8305-11eb-82b4-800139d22f68.png)

But not on  2.7.1:
![image](https://user-images.githubusercontent.com/695673/110939665-c2b95b00-8303-11eb-9b94-905e4c1bb053.png)
![image](https

[2021-03-12 12:39] cppwfs commented on #4427
Opened issue for builder here: https://github.com/spring-cloud/spring-cloud-dataflow-ui/issues/1685 for 2.8

[2021-03-12 12:46] bmarcj commented on #4427
@cppwfs I was using version 2.7.1

[2021-03-12 12:47] cppwfs commented on #4427
Can you share your steps?   I was unable to reproduce.

[2021-03-12 12:51] cppwfs commented on #4427
Also provide the platform, kubernetes, Local or CloudFoundry.   Thanks!

[2021-03-12 13:08] bmarcj commented on #4427
Running in local mode (batch only) on ubutnu linux 18.04.5.

Additional configuration settings:

[code]

[2021-03-12 13:11] cppwfs commented on #4427
Thank you.
Also please don't forget to share with us the steps to reproduce.

[2021-03-12 13:19] bmarcj commented on #4427
Navigate to an existing task's launch endpoint:

`/dashboard/#/tasks-jobs/tasks/{taskname}/launch`:

Attempt to use a non-option argument in the arguments box.

Note that the validation messages appear in red (`One or more arguments are invalid`) and the task cannot be launched.

[2021-03-12 13:29] cppwfs commented on #4427
I see.  Yep.   Thanks for bringing this up.
Moving this to Spring Cloud Data Flow UI.
https://github.com/spring-cloud/spring-cloud-dataflow-ui/issues/1686

[2021-03-12 13:29] #4427 closed

[2021-03-12 13:29] cppwfs commented on #4427
Thanks for sharing this!

[2021-03-12 13:32] bmarcj commented on #4427
Glad to help.

[2021-03-12 14:11] tzolov commented on #4348
Resolved with #4352 and #4355

[2021-03-12 14:11] #4348 closed

[2021-03-12 15:03] tzolov opened #4428 "Seamless reusing of the k8s Docker Hub registry secrets for as SCDF metadata client credentials"
The `kubectl create secret docker-registry ...` command is used for creating `secrets` that via the `imagePullSecret` allow pulling images from private/protected container registries. Those secrets are used implicitly from the SCDF k8s deployers.

In parallel, the SCDF server uses the [Docker Registry HTTP V2](https://docs.docker.com/registry/spec/api/) to interact with the Container registries an

[2021-03-12 15:03] github-actions[bot] opened #4429 "backport(4428): Seamless reusing of the k8s Docker Hub registry secrets for as SCDF metadata client credentials"
Backport #4428

[2021-03-12 16:37] tzolov opened #4431 "Allow skipSslValidation for all DataFlowOperations authentication modes"
**Description:**

Currently The [DataFlowClientProperties#skipSslValidation](https://github.com/spring-cloud/spring-cloud-dataflow/blob/e6cc1afb09979905cc8921402572b67edcd2b088/spring-cloud-dataflow-rest-client/src/main/java/org/springframework/cloud/dataflow/rest/client/config/DataFlowClientProperties.java#L42) properties is used only for the Basic Auth but not for the various OAuth2 auth modes:

[2021-03-14 18:36] tzolov opened #4433 "Allow Ts/ATs run against secured (oauth2) SCDF servers"
**Problem description:**
For the purpose of SCDF CF tile ATs we need to ensure that ATs can run over secured (oauth2) connection!

Currently, the `ITs`&`ATs` use a custom, in-palace creation of the `DataFlowTemplate` instance used to interact with the SCDF servers. This code doesn't allow configuring an authenticated/authorized connections to the servers.

**Solution description:**
Replace the ine

[2021-03-14 18:41] tzolov commented on #4431
While a more reliable solution would be required currently the [DataFlowClientAutoConfiguration](https://github.com/spring-cloud/spring-cloud-dataflow/blob/master/spring-cloud-dataflow-rest-client/src/main/java/org/springframework/cloud/dataflow/rest/client/config/DataFlowClientAutoConfiguration.java#L95) allows providing a custom (parent) `restTemplate` instance.  This can be used to implement th

[2021-03-15 05:26] ilayaperumalg opened #4434 "Fix stream logs Authorization rule"
The endpoint `/streams/logs/{streamName}/{appName}` doesn't work (has authorization error) while the `/streams/logs/{streamName}` endpoint works.

[2021-03-15 06:01] #4434 closed

[2021-03-15 10:31] jvalkeal opened #4436 "Refactor junit5 and assertj"
This issue tracks a progress of moving fully on junit5 and assertj.

- [ ] spring-cloud-dataflow-audit/src/test/java/org/springframework/cloud/dataflow/server/audit/service
- [ ] spring-cloud-dataflow-autoconfigure/src/test/java/org/springframework/cloud/dataflow/autoconfigure/local
- [ ] spring-cloud-dataflow-classic-docs/src/test/java/org/springframework/cloud/dataflow/server/rest/documentation

[2021-03-15 10:44] #4433 closed

[2021-03-16 03:05] guoyiang opened #4437 "dataflow task metrics "task_external_execution_id" label doesn't have value"
**Description:**
I deployed spring cloud dataflow in kubernetes using helm chart and enabled prometheus metrics.

I noticed some labels are not set with correct values, as you can see in the metrics collected in `spring-cloud-dataflow-prometheus-proxy:8080/metrics/connected`:

[code]

`application` and `task_external_execution_id` are both unknown.

**Release versions:**
helm chart version: 2.5.2

[2021-03-16 08:17] shehanab commented on #3488
I'm facing the same issue with exactly the same configuration.

http://localhost:9393/dashboard takes me to http://localhost:9393/login selection of client name takes me to the following link with my SSO login page...

http://localhost:8567/auth/realms/GetsConnect/protocol/openid-connect/auth?response_type=code&client_id=ABATCH&scope=openid%20dataflow.view%20dataflow.deploy%20dataflow.destroy%20da

[2021-03-16 10:51] tzolov commented on #4437
@guoyiang, thank you for highlighting this issue!
The default task metrics tags are configured here: https://github.com/spring-cloud/spring-cloud-dataflow/blob/master/spring-cloud-dataflow-server-core/src/main/resources/META-INF/application-task-common-properties-defaults.yml

Apparently from the [initial commit](https://github.com/spring-cloud/spring-cloud-dataflow/pull/4118) they've been incorre

[2021-03-16 10:52] github-actions[bot] opened #4438 "backport(4437): dataflow task metrics "task_external_execution_id" label doesn't have value"
Backport #4437

[2021-03-16 12:19] cppwfs commented on #4437
@tzolov Thank you for looking into this.   Yes those values are correct.

[2021-03-16 16:25] tzolov commented on #4299
@ebezdomnikov thank you for your contribution.

[2021-03-16 19:45] guoyiang opened #4440 "Inconsistent document / settings about maximumConcurrentTasks in different platform"
**Description:**
In spring cloud dataflow docs, there's a section about how to set maximumConcurrentTasks. I followed the doc but the customized concurrent limit doesn't apply.

After a bit of digging, I noticed there's some misleading info for users not on CloudFoundary platform.

In this [doc](https://docs.spring.io/spring-cloud-dataflow/docs/current/reference/htmlsingle/#spring-cloud-dataflow-t

[2021-03-17 07:02] #4299 closed

[2021-03-17 12:59] dturanski commented on #4095
@johnlinp - Can you post the task launcher logs with a stack trace?

[2021-03-17 13:03] dturanski opened #4443 "Move tasklauncher sink to dataflow repo"
**Problem description:**
Version incompatibilities are a concern with the current tasklauncher sink stream app. Releasing as part of dataflow, similar to how we do composed task runner ensures users can use the same client/server version.

[2021-03-17 19:46] guoyiang commented on #4437
Very appreciate for the quick fix!

However, it doesn't seem to add `external_execution_id` though, will this info be added?

[2021-03-19 12:08] suresh-chidham opened #4444 "Unable to bind comma separated multiple services in deployed stream apps"
Hi,

We are using spring data flow server 2.4.1 version.  We tried to bind 2 services kafka and monitoring. Kafka service is binded but monitoring service is unable to bind with our deployed stream apps.  What is wrong in our data flow server configuration
applications:
  - name: dataflow-server-sf
    memory: 4G
    disk_quota: 4G
    routes:
      - route: dataflow-server.acp..com
    path: spri

[2021-03-22 08:58] jvalkeal commented on #4444
`spring.cloud.deployer.cloudfroundry.stream-services` is a very old option and was used when we have dedicated servers for each platform. It's `spring.cloud.deployer.cloudfroundry.services` in a deployer now.

Other thing is that setting should be in a skipper server and more preferred way is to define those with platform configuration(as you can have multiple ones).

[2021-03-22 09:20] mailtoyasi commented on #4305
Hi Gents,  I was also facing same issue. Thanks a lot for excellent clarification.
Just a suggestion, will it be good if the task launch request has any overridden properties then apply otherwise take the default configuration given in SCDF service.?

**Use case:**

- Task will be launched for N number of times. For example 1000 times,
- If one particular task run, requires more memory to survive

[2021-03-22 17:05] swyrik commented on #4406
This isn't working for me. Still getting the same error.

[2021-03-22 20:47] guoyiang commented on #4437
Found that `external_execution_id` is from property `spring.cloud.task.external-execution-id`. See [here](https://github.com/spring-cloud/spring-cloud-task/blob/2.2.x/spring-cloud-task-core/src/main/java/org/springframework/cloud/task/configuration/MetricsAutoConfiguration.java#L76)

A workaround in kubernetes env is to set this property to `${HOSTNAME}` which defaults to pod name, not sure about

[2021-03-22 21:47] 23king commented on #4303
Good news~

[2021-03-23 02:31] ilayaperumalg opened #4445 "Version info on snapshot doesn't get the correct snapshot URL"
The `AboutController` gets the maven repo URL in case of the version includes snapshot like `-SNAPSHOT` .

[2021-03-23 02:37] #4445 closed

[2021-03-23 09:45] ThibaultDelaune-pro commented on #4303
Hi, I do have the same use case on my projects. Our Data Flow platform is in the `Europe/Paris` timezone while our K8s platform is in UTC (and can't be changed).
In this timezone, we have change of time twice a year (UTC+1 in winter and UTC+2 in summer).
So currently, the only choice we have is to manually change our scheduled tasks cron expression twice a year.
This PR is really expected.
Thanks.

[2021-03-23 13:15] umutcann opened #4446 "HTTP Timeout while launching task."
Hi,

I'm getting HTTP 504 Timeout problem while launching task.

Did you faced that error before?

[code]

[2021-03-23 13:25] #4446 closed

[2021-03-23 16:19] cppwfs opened #4447 "CTR Task Execution needs to return exit code 1 if its underlying batch job fails"
Currently if the batch job that runs the graph for CTR fails the exit code for the task execution is 0.   While this is the default behavior for boot's handling of batch this is not the desired result for a task workflow engine.    Thus the `spring.cloud.task.batch.fail-on-job-failure` needs to be set to true for each composed task runner launch.    The user can override this behavior via dataflow

[2021-03-23 16:26] cppwfs opened #4448 "Running the same task app in parallel via CTR on CF, droplets fail to create occassionally"
To reproduce this execute the following composed task `t1: timestamp && <t2: timestamp && t3: timestamp || t4: timestamp ||t5: timestamp> && t6: timestamp"`

DataFlow deletes  artifacts after task launch to prevent the maven repository filling up the disk, however if another task is being deployed during the delete the droplet is not created and thus the composed task fails to run.
The current wor

[2021-03-23 17:33] jvalkeal commented on #4448
If was thinking if we could do a semi naive locking with a cf deployer using java's `StampedLock` if this setting is enabled. Kinda using this type of logic if there's multiple parallel deploy operations:

1. As issue is within one jvm we don't need to think about fully shared access.
2. Deployer would always acquire read lock from StampedLock
3. When it wants to clean stuff, it could do naive att

[2021-03-24 06:26] suresh-chidham commented on #4444
Thanks.
After adding below line in skipper-server. Its reflecting in all deployed stream apps.
SPRING_CLOUD_SKIPPER_SERVER_PLATFORM_CLOUDFOUNDRY_ACCOUNTS[dev]_DEPLOYMENT_SERVICES=kafka,monitoring.service

[2021-03-24 06:26] #4444 closed

[2021-03-24 16:44] nicholasmhughes opened #4449 "Keycloak RBAC"
I don't see a way to accomplish RBAC using Keycloak and Spring Cloud Data Flow 2.7.1

I (more or less) followed the instructions found here:

https://github.com/jvalkeal/randomstuff/tree/master/dataflow-keycloak

This does result in a deployment which prompts for user login with Keycloak. However, I cannot tell how to assign different roles to different users. Every user that logs in via Keycloak

[2021-03-25 11:30] #4424 closed

[2021-03-25 15:23] cppwfs commented on #4437
@tzolov can you take a peak?

[2021-03-26 07:50] ilayaperumalg opened #4451 "DataFlowIT - Make streamAppCrossVersion test version configurable"
Please see this for info: https://github.com/spring-cloud/spring-cloud-dataflow/pull/4450/files#r601732830

[2021-03-26 15:51] jameswynn opened #4453 "tasklauncher-dataflow fails to retry tasks when dataflow is at task limit"
**Description:**
When multiple tasklauncher-dataflow instances attempt to start tasks simultaneously, and dataflow is near its task limit, some tasks can be dropped. It appears that the MessageHandlingException is handled, and does not requeue as would be expected. Dataflow is only emitting a 500 error code in this scenario which is troublesome to handle on the client side. A more specific error c

[2021-03-26 16:21] dturanski commented on #4453
@jameswynn Thanks for reporting this. I will investigate. However, I'm wondering why you are running multiple task launcher instances. The recommendation is one per task platform. If you have multiple streams launching tasks, you can route them all to a single instance:

[2021-03-26 16:30] jameswynn commented on #4453
I'll investigate refactoring our streams to use a single tasklauncher. I must have missed that recommendation in the documentation.

[2021-03-29 09:09] jvalkeal opened #4454 "Postgresql drive got removed from server"
Work for new database IT system #4424 defined postgres driver as test dependency and that is causing it not to get packaged anymore. We can simply remove it as it's coming from server core.

[2021-03-29 09:39] #4454 closed

[2021-03-29 14:43] kumarprashant2103 opened #4456 "Postgresql Metadata Configuration"
Hi,
We are setting up SCDF 2.7.1 on the Kubernetes cluster through kubectl. We are using PostgreSQL for the Metadata process. We got the set up done, and we can see various tables created in the Postgresql, and we can access SCDF UI, but when we try to add any task or try to import repository, then we are getting this error message :

“could not extract ResultSet; SQL [n/a]; nested exception is or

[2021-03-29 15:05] sabbyanandan commented on #4456
Discussion happening in Gitter. Closing it as duplicate.

[2021-03-29 15:05] #4456 closed

[2021-03-29 15:06] sabbyanandan commented on #4402
Hi, @ashishreddyv. The source code for the chart is in the Bitnami repo. Feel free to add the issue in the Bitnami Helm chart repo proper. It'd be great if you can contribute to the chart directly also.

[2021-03-29 15:06] #4402 closed

[2021-03-29 15:07] sabbyanandan commented on #4403
This could be another good addition to the chart proper. As highlighted at https://github.com/spring-cloud/spring-cloud-dataflow/issues/4402, feel free to open it in the right repo.

[2021-03-29 15:07] #4403 closed

[2021-03-29 15:08] sabbyanandan commented on #4404
Hi, @MariusKl. It sounds like the adjustment would likely end up at the [Local-deployer](https://github.com/spring-cloud/spring-cloud-deployer-local). Feel free to propose the suggested change as a PR, we can collaborate.

[2021-03-29 15:11] sabbyanandan commented on #4411
Hi, @nithril. Thanks for the thorough write-up, nicely done! When you get a chance, please propose your best suggestion as PR, and @jvalkeal can collaborate with you.

[2021-03-29 15:13] sabbyanandan commented on #4412
@aphethean1: Apologies for the delayed response. When you get a chance, could you update to 2.7.1 and retry it on your environment? If it continues to be a problem @tzolov can collaborate with you to get this sorted out.

[2021-03-29 15:15] sabbyanandan commented on #4413
Once when we get some validation on https://github.com/spring-cloud/spring-cloud-dataflow/issues/4412, we can jump at this one, as well.

[2021-03-29 15:17] sabbyanandan commented on #4440
@dturanski: Do we have to update the docs in the ref. guide or Microsite?

[2021-03-29 15:22] sabbyanandan commented on #4449
Hi, @nicholasmhughes. We don't have in-depth knowledge of Keycloak. Though, that is one of the identity providers that we see many in the community using it, however. If Keycloak has the concept of groups, you should be able to mount users to those groups and have that group assigned to the desired role (eg: `ROLE_VIEW`)

[2021-03-29 15:24] sabbyanandan commented on #4396
Closing due to no activity.

[2021-03-29 15:24] #4396 closed

[2021-03-29 15:36] nicholasmhughes commented on #4449
Thanks for the response @sabbyanandan

Keycloak definitely has the concept of groups, but I'm not sure how to configure the group mapping in spring cloud data flow. All of the examples show a mapping of _scopes_ to SCDF roles. How can I map to groups in the token?

[2021-03-29 16:11] cppwfs opened #4457 "TaskExecutionStatus for CTR needs to use batch status for final result"
Currently TaskExecutionStatus is determined by the exit code of the task execution (As presented in TaskExecutionResource lines 281-291).   However this gives a false positive when a composed task execution fails.   This is because the CTR returns zero by default regardless if the underlying batch execution fails or succeeds.
The getTaskExecutionStatus needs to be updated to determine if the execu

[2021-03-29 18:18] cppwfs commented on #4426
@guoyiang Adding this to the feature backlog.   Thank you for the issue.
Also checkout 2.8 milestones.   We have made improvements on updating deployment and app properties on the UI.

[2021-03-29 18:25] deepak5127 commented on #4390
Hi @sabbyanandan  . Shall i give a try on this one ?

[2021-03-30 08:29] jvalkeal opened #4458 "OAuth integration tests"
Using same concept as with database tests with testcontainers, come up with test using preconfigured uaa image and enabled security setup for dataflow and skipper.

[2021-03-30 09:35] rjbgaspar opened #4460 "MQTT Source does not listen on defined topics"
**Description:**
In the dataflow server:

stream create --definition "mosquito-inbound: mqtt --client-id=scdfClient --qos=2 --username=admin --password=pwd --url='tcp://172.16.2.153:60065' --topics='in' | log" --name mqtt-in --deploy

Stream is deployed successfully

Instance mqtt-in.mosquito-inbound logs
[code]

Client connected successfully.
Instances for app mqtt-in.log logs

[code]

I publish

[2021-03-30 13:14] umutcann opened #4461 "SCDF create new application and task issue"
Hi,

We have 2.7.0-RC1 version SCDF which is running on Kubernetes.

I faced an error during creating applications. We had created an application which has task type and docker image url. Our image url has beed changed. We unregistered all versions of old application.

When we try to create new one with same name, SCDF act like old one is still exist. Then I click the checkbox force it. I was able

[2021-03-30 15:28] cppwfs commented on #4461
Hello @umutcann,
You could have created multiple versions of the app.  In that case you can look at managing versions dialog, by selecting the 'Manage Version' option on the app dropdown list.
![image](https://user-images.githubusercontent.com/695673/113014386-89c61680-914a-11eb-9935-8ed3faf08b7c.png)

Then select the version you need.

(if this isn't the case, please provide a little more detail

[2021-03-31 05:24] ilayaperumalg opened #4463 "Stream DSL is incorrect when overriding the input group"
In case of the following scenario where the stream DSL is: `:SOURCE > splitter > :DEST` and when deploying the stream user overrides the input group of the app `splitter` by setting `app.splitter.spring.cloud.stream.bindings.input.group=test` instead of the default (SCDF sets stream name as the default group name).

Upon the stream deployment, the reconstructed stream DSL has the `group` field add

[2021-03-31 13:30] cppwfs commented on #4461
Was there a Exception and associated stack trace from that event in the log?   Can you provided the log entries from that period of time?

[2021-03-31 14:27] cppwfs commented on #4398
Closing this issue based on recommendations not to use shell entrypoint for batch apps.   More can be read here: https://github.com/spring-io/dataflow.spring.io/pull/353

[2021-03-31 14:27] #4398 closed

[2021-04-01 07:27] jvalkeal opened #4465 "Remove palantir bintray repo"
Sunsetting so need to go bye bye.

[2021-04-01 11:37] #4458 closed

[2021-04-01 11:50] umutcann commented on #4461
We are using Oracle DB.  And we could see only below log.

2021-03-30 16:03:35.350 WARN 7 --- [nio-9393-exec-8] o.s.c.d.s.c.RestControllerAdvice : Caught exception while handling a request: The 'task:appname application could not be found.

[2021-04-01 12:13] canerkoseren opened #4467 "Deployment properties are stored from previous executions but will not be used for next execution"
Hello,

I have question for deployment properties carried from previous execution.

I executed my task several times with different deployment properties.

In the first execution, I mounted a persistent volume claim by using the properties below to read file from a volume.

`
deployer.appl.kubernetes.volumeMounts=[{name: 'app-pvc', mountPath: '/data/pvc'}]

deployer.appl.kubernetes.volumes=[{name:

[2021-04-01 17:42] cppwfs commented on #4461
Hello @umutcann ,
I am unable to reproduce:
Here are my steps:
[code]
Is there a step missing?
Also try with the 2.7.1.RELEASE instead of the 2.7.0.RC1.

[2021-04-01 17:44] cppwfs commented on #4467
Not at this time.   But I will put this as a feature on the backlog.

[2021-04-02 00:38] deepak5127 commented on #4390
@sabbyanandan Thinking of creating an UI design flow like we have for App registration where users can add/edit Kubernetes / CF configuration and persist to the datastore. Please let me know if this is approach is fine

[2021-04-02 00:46] sabbyanandan commented on #4390
I could something like that working from a UX perspective. When you get a chance, it'd be great to see the flow in some diagram format. A hand-drawn paper diagram (or anything simpler than this) would be sufficient.

[2021-04-04 14:08] kanibs commented on #3499
hey @sabbyanandan I want to try this one. May I pick it up?

[2021-04-05 17:40] sabbyanandan commented on #3499
Hi, @kanibs, sure thing. If you have cycles, please feel free to start the dialog with the PR. @ilayaperumalg  / @jvalkeal can help with the review.

[2021-04-05 19:13] jrsamson opened #4469 "Updating stream with the same version as the deployed version returns a stack trace"
When updating a stream with the same version via dataflow-shell, it returns a SkipperException. Since the was no difference to existing deployed/deleted package, it should return a user message.

dataflow:>stream update --name mystream3 --properties "version.log=3.0.1"

Command failed org.springframework.cloud.dataflow.rest.client.DataFlowClientException: SkipperException
SkipperException
org.spri

[2021-04-05 20:57] sabbyanandan commented on #4469
Thanks, @jrsamson. We can handle this in a graceful manner with a user-friendly message in the Shell/UI/API response.

[2021-04-05 20:59] sabbyanandan commented on #4460
Thanks for reporting, @rjbgaspar, but it seems like a duplicate of https://github.com/spring-cloud-stream-app-starters/mqtt/issues/18 and https://github.com/spring-cloud/stream-applications/issues/160.

[2021-04-05 20:59] #4460 closed

[2021-04-05 23:22] deepak5127 commented on #4390
@sabbyanandan  I am attaching a very high level flow diagram. Please let me know if you want me to elaborate on this.
![IMG_0543](https://user-images.githubusercontent.com/360576/113638166-154c1580-962b-11eb-9081-01a7673f8cdb.jpg)
![IMG_0542](https://user-images.githubusercontent.com/360576/113638170-1715d900-962b-11eb-89ed-3f7c6fd9d635.jpg)

[2021-04-05 23:31] sabbyanandan commented on #4390
I like what I see, esp. the UI workflow as to how users can discover the persisted platforms and then be able to override and/or adjust the platform-specific global deployer properties. To be clear, though, "namespace" happens to be one of the many deployer properties that one can override/set globally for Kubernetes deployment.

You will find a few [use-case scenarios in the Mircosite](https://da

[2021-04-05 23:47] deepak5127 commented on #4390
Sorry I misinterpreted the flow.

So it should be like this.

The users would be able to add / edit / remove the platforms. when they add/edit the platform accounts, there will be an option to dynamically check if there is any new namespace available ( Kind of dropdown we can provide in the form ). Similarly we can see if any other properties value can be populated dynamically, like secrets from K

[2021-04-06 00:17] sabbyanandan commented on #4390
Yep, that makes sense to me. We should be able to give them visibility into all global properties that someone can discover/manage with the help of platform accounts. We already show those deployer properties when deploying a stream (or when launching tasks in 2.8.x/master codebase, not shipped yet); maybe we could repurpose that endpoint to populate all the applicable properties here also.

Nicel

[2021-04-06 05:12] ilayaperumalg commented on #4390
@deepak5127 Thanks for your interest and proposal on this!

We need to have the similar design on the Skipper server as well. Currently, the platform accounts for tasks are maintained in SCDF while the platform accounts for streams are driven by Skipper server. Hence, ability to dynamically configure the platform accounts need to be supported at both the Skipper and SCDF servers.

Also, when it co

[2021-04-06 05:13] ilayaperumalg commented on #4469
True, We can provide a better response message on this.

[2021-04-06 12:04] kanibs commented on #3499
cool @sabbyanandan  I will start work on this. Thanks

[2021-04-06 16:25] deepak5127 commented on #4390
@ilayaperumalg  @sabbyanandan  Thanks for the feedback. Will incorporate the skipper server in the flow. Should i start designing the DB schema ?

[2021-04-06 16:40] ilayaperumalg commented on #4390
Sure, please go ahead! Thank you

[2021-04-07 06:28] shehanab opened #4470 "Keycloak SSO integration logout issue"
I have integrated Keycloak for authentication and authorization. I manage to login into the system successfully every time I try to login to the app using http://localhost:9393/dashboard. Upon logout, it takes me to the default login page with the button to login as follows...

![image](https://user-images.githubusercontent.com/3508152/113819668-3425e580-97ac-11eb-8029-6ca2c0c289d2.png)

The probl

[2021-04-07 09:58] swyrik commented on #4406
Hi @cppwfs @sabbyanandan , Do you need any other information regarding this issue?

[2021-04-08 16:44] nithril opened #4471 "Add support of the parameter `propertiesFile` to the scdf shell `task schedule create`"
SCDF shell currently only support the parameters `properties`. Unlike `stream deploy` it is not currently possible to schedule a task by using a file as a properties

[2021-04-08 19:26] deepak5127 commented on #4390
@sabbyanandan  @ilayaperumalg  Attaching the DB table design. Please review and provide feedback.

![scdf](https://user-images.githubusercontent.com/360576/114084953-97c01980-9865-11eb-874d-1be3789d3a9d.png)

[2021-04-09 05:51] ilayaperumalg commented on #4390
Hi @deepak5127 ,

Thanks for the proposal!

I'd like to know the reason for having `PLATFORM` table. We have platform type which can differentiate the type of platform for the given platform account and the configs can be associated with each of the `PLATFORM_ACCOUNT` entry.

We can also rename the table name `ACCOUNT_CONFIG_KV` to `PLATFORM_ACCOUNT_CONFIGS` or something similar?

Also, with this

[2021-04-09 06:19] guoyiang opened #4472 "Allow to identify source of data flow metrics"
**Problem description:**
I am running spring cloud data flow in kubernetes with prometheus metrics. Prometheus is deployed with prometheus operator.

In the metrics collected by prometheus, there's no way to really tell which pods were the source of the metrics, especially when running data flow server with multiple replicas.

Here's some examples (one for task and one for server):

[code]
You wil

[2021-04-09 07:52] nithril commented on #4471
I will try to submit a PR. Adding the parameter seems straightforward

[2021-04-09 10:24] ilayaperumalg commented on #4390
Adding @jvalkeal to add his comments on the schema changes.

[2021-04-09 14:47] sabbyanandan commented on #4471
Hi, @nithril. That sounds like a reasonable enhancement to the scheduling workflow. Please feel free to take a stab at it and submit a PR; once we have this supported in the API/Shell, we can also extend it to the UI.

[2021-04-12 10:11] aphethean1 commented on #4412
Retried on 2.7.1 and I can confirm it is still an issue.

[code]

In case it wasn't clear in my initial defect description.  On azure the redirect to get image metadata should not pass the Authorization header.  Azure redirects to a blob storage with the token in the url, and this Authorization header should not be passed.  The http client (RestTemplate) in ```org.springframework.cloud.dataflow.co

[2021-04-12 14:31] Sharukdeen-SA opened #4474 "Python with rabbitmq as stream processor"
Hello all, I'm trying to implement a python polyglot sample using rabbitmq as queue binder instead of Kafka. But my application is always in deploying state, kindly share implementation or sample of python as stream processor using rabbitmq. Kindly help me in solving this issue.

[2021-04-12 14:51] sabbyanandan commented on #4474
Hi, @Sharukdeen-SA. Please post questions like this in StackOverflow. GitHub issues are preferred for bug-reports or feature enhancements.

[2021-04-12 14:51] #4474 closed

[2021-04-12 22:59] cppwfs commented on #4440
Resolved with PR #4475

[2021-04-12 22:59] #4440 closed

[2021-04-13 00:07] deepak5127 commented on #4390
@ilayaperumalg  The PLATFORM table was added to have more integrity at the DB level. We can eliminate PLATFORM table if its not necessary.

On the table name convention, Yes we can rename the tables accordingly.

On storing the properties, there are two options.

1 . We can store it has simple BLOB or CLOB. This implementation is less complex, as we dont have to worry about schema changes to the J

[2021-04-13 05:22] ilayaperumalg commented on #4390
Thanks @deepak5127

The above discussion reminds me of one another important point we discussed in the past on mutating the platform account properties.

Originally we would like to have the platform account properties to be **immutable**.
The reason for this is to preserve the integrity of the existing streams/tasks that are used by the platform accounts which might get changed upon the server re

[2021-04-13 11:31] #4465 closed

[2021-04-13 15:58] cppwfs opened #4476 "Store timezone information for each platform"
Users need the ability to know which timezone the platform is associated.

[2021-04-13 16:00] cppwfs commented on #4303
Closing this Issue.  The solution enumerated in  https://github.com/spring-cloud/spring-cloud-dataflow/issues/4476 is the preferred method.

[2021-04-13 16:00] #4303 closed

[2021-04-13 16:50] deepak5127 commented on #4390
Sure @ilayaperumalg  . I will wait for the direction.

[2021-04-13 18:37] mminella commented on #4476
Is there a reason we wouldn't just query the platform for it? Storing it gets you into the issues of stale caches...

[2021-04-14 09:38] ab48917 commented on #3993
@sabbyanandan  and @cppwfs  I am also facing same issue in openshift env. However Its working fine when we run from local pointing to same db.
we do have added the @EnableTask annotation. We have same code pushed and build as docker image. While triggering from K8s deployed SCDF , Its running all good, adding entries to task_execution table and task_execution_metadata but not in task_execution_par

[2021-04-14 11:40] nicholasmhughes commented on #4449
Thank you @sabbyanandan . That link pointed me at a missing step from the other repo I was using. I was able to get Keycloak working properly, and documented my steps and configuration [here](https://eitr.tech/blog/2021/04/12/keycloak-oauth-for-spring-cloud-dataflow.html). I appreciate the help!

[2021-04-14 11:40] #4449 closed

[2021-04-14 14:06] cppwfs commented on #4021
Merged with PR.

[2021-04-14 14:06] #4021 closed

[2021-04-14 15:27] cppwfs commented on #3993
Hello @ab48917 are the task_execution entries contain an end_time?
Can you share the logs from the task execution?

[2021-04-14 19:46] sabbyanandan commented on #4449
💥 ; really nicely done, @nicholasmhughes! Glad you have got that up and running. I will have someone in the team add your [detailed write-up](https://eitr.tech/blog/2021/04/12/keycloak-oauth-for-spring-cloud-dataflow.html) to the SCDF Microsite's [blog section](https://dataflow.spring.io/news/).

cc: @ilayaperumalg @oodamien @jvalkeal

[2021-04-14 22:00] Mangiang opened #4477 "Using calendars for task scheduling"
Hello,
How can I schedule tasks against custom calendars ?
For example I would want it to run only on every Monday, excluding vacation days. It seems like cron job syntax is too limited for that kind of requirement, is it ?

[2021-04-14 23:16] kumarprashant2103 commented on #638
Did we get this issue resolved. We are getting the SSLException error.
 We are getting the below error when we try to execute our applications from private docker registry : Failed to retrieve properties for resource Docker Resource [docker:dtrprod.kbm1.loc/pdev/pdev:test-interactionref-382-46196] because of SunCertPathBuilderException: unable to find valid certification path to requested target

[2021-04-16 13:19] cppwfs commented on #4477
Hello @Mangiang,
Currently SCDF uses cron as its method for scheduling tasks.   And thus does not support excluding specific holidays.   However, if you have a scheduling app  that is external to dataflow that supports this type of scheduling, it can submit a restful request to the SCDF server to launch tasks.

[2021-04-16 13:48] Mangiang commented on #4477
@cppwfs I see, thank you for the advice !
Would that feature be planned for any forseeable future ?

[2021-04-16 15:39] cppwfs commented on #4477
Not at this time.   But I will leave this issue open for further comment by the community and  team members.

[2021-04-17 02:26] Mangiang commented on #4477
Thank you for your answers !
I'll will continue to follow this issue closely.

[2021-04-18 13:51] ab48917 commented on #3993
@cppwfs  Thanks for replying. Yeah Its containing the end time as well as external execution Id. Also, I see the entries in task_execution_metadata (It is containing the arguments in metadata json entry). Log is very big. how can I share to you.

[2021-04-19 10:00] Manu10744 opened #4478 "[Kubernetes] NPE on Task Execution"
**Description:**
We have deployed Spring Cloud Data Flow v2.6.3 to Kubernetes. On the dashboard we are registering a Spring Batch by registering a SCDF Task Application using `file://root/batchapplication-21.6.0-SNAPSHOT.jar`. This works without problems.
When we try to execute the Batch via REST API or manually on the dashboard, we get the following `NullPointerException`:

[code]

We are using e

[2021-04-19 13:20] cppwfs commented on #3993
What is your entrypoint style?

[2021-04-19 13:33] cppwfs commented on #4478
It looks like your SCDF is not configured properly.
Note in your runtime environment you have no task launchers enumerated.
[code]

We have instructions for installing and configuring kubernetes located here:
https://dataflow.spring.io/docs/installation/kubernetes/

[2021-04-19 13:37] ab48917 commented on #3993
Just running with argument --jobCodes=XXX, wanted to put that XXX entry in task_execution_params. But Its working fine only not putting the entries to task_execution_params. Below is the entry from task_execution_metadata

{"taskDeploymentRequest":{"definition":{"name":"st-xxxx-report-task","properties":{"spring.datasource.username":"xxxxx","spring.cloud.task.name":"st-xxxxx-report-task","spring.d

[2021-04-19 13:47] #4428 closed

[2021-04-19 14:38] #4478 closed

[2021-04-19 14:59] github-actions[bot] opened #4479 "backport(4465): Remove palantir bintray repo"
Backport #4465

[2021-04-19 16:17] #4471 closed

[2021-04-19 19:36] cppwfs commented on #3993
I was unable to reproduce using the default entrypoint style `exec` as discussed here: https://docs.spring.io/spring-cloud-dataflow/docs/current/reference/htmlsingle/#_entry_point_style

Let's take a step back.   Can you share the task execution detail for the task execution?
From the either the
* **UI**: Click the Task Executions tab on the left and then click the execution id of the task that wa

[2021-04-19 20:14] #4463 closed

[2021-04-20 11:22] ab48917 commented on #3993
Property | Value
-- | --
Execution Id | 17026
Task Name | cmm-cpp-xxxx-xxx
Arguments |  
External Execution Id | cmm-cpp-xxxx-xxxx-2qlm8yky21
Batch Job |  
Job Execution Ids | N/A
Start Time | 2021-04-20 15:51:33,364[+5:30]
End Time | 2021-04-20 15:51:37,071[+5:30]
Duration | 00:00:03.707
Exit Code | 0
Exit Message | N/A
Resource URL | Docker Resource [docker:xxxxx/cmm-xxx-xx/xx-xx-xxxx-xxxxts:rel

[2021-04-20 11:24] ab48917 commented on #3993
Please review this and let me know if  you need some more info.
Note- Its working fine running from local and Its not issue when running from openshift/docker. Also, Its updating to all tables columns except only task_execution_params

[2021-04-20 11:31] ab48917 commented on #4406
@cppwfs - Can you please let us know if we have any updates?

My setup is -
1- Deployed the SCDF image on k8s 1.19 and Its up and running
2- Build the composed task runner image and added as environment variable to scdf.
3- Enabled the Oauth2 and working well for SCDF
4- Running all the individual tasks with no issues
5- Created a CTR with 4 applications. Getting same as mentioned above exceptions

[2021-04-20 13:47] dturanski commented on #4267
@jvalkeal @sabbyanandan can we close this?

[2021-04-20 14:55] cppwfs commented on #3866
Re Opening because these solutions are mutually exclusive to each other.   You can search for exec_id or instance_id or start / end dates.   But they can't be combined.

[2021-04-20 16:45] kumarprashant2103 commented on #4428
Is this fix available on the latest tag. We have been seeing multiple issues to pull images from the private docker repository.

[2021-04-20 19:04] ab48917 commented on #4406
@cppwfs  Just to add to above error - I am seeing that Its going with user anonymousUser while calling the CTR and seems that is causing unauthorized. Below error I see in SCDF logs.

2021-04-20 18:51:25.416 DEBUG 1 --- [nio-9393-exec-1] o.s.s.w.u.matcher.AntPathRequestMatcher  : Checking match of request : '/'; against '/'
2021-04-20 18:51:25.416 DEBUG 1 --- [nio-9393-exec-1] o.s.s.w.a.i.FilterSe

[2021-04-20 21:34] kumarprashant2103 opened #4480 "SCDF server fails to access docker hub behind Netscalar Gateway"
**Description:**
We are getting the below error when we try to execute our applications from private docker registry : Failed to retrieve properties for resource Docker Resource [docker:dtrprod.kbm1.loc/pdev/pdev:test-interactionref-382-46196] because of SunCertPathBuilderException: unable to find valid certification path to requested target
Our docker registry is behind the netscalar gateway.

**

[2021-04-20 23:52] rhishirajnema opened #4481 "Not able to deploy stream"
**Description:**
I have a stream with source as : custom-source-app and sink as custom-sink-app.
This is the error while deploying stream: (Note: it doesn't happen always)

**App with deploymentId [source-app] is already deployed with state [deployed]**

However the state of stream is undeployed in dashboard:
<img width="1211" alt="Screen Shot 2021-04-20 at 7 12 16 PM" src="https://user-images.git

[2021-04-20 23:59] sabbyanandan commented on #4481
Hi, @rhishirajnema. Seeing `Error Message = [App with deploymentId [stream.transporter-source-v1] is already deployed with state [deployed]]"` tells me that you're either restarting SCDF or Skipper independently and are **not** using a persistent RDBMS.

By default, in SCDF/Skipper, an H2 DB instance is auto-started for quick sandbox/dev experimentation, and you cannot rely on that setup for produ

[2021-04-20 23:59] #4481 closed

[2021-04-21 03:38] github-actions[bot] opened #4482 "backport(4463): Stream DSL is incorrect when overriding the input group"
Backport #4463

[2021-04-21 15:18] cppwfs commented on #3993
Hello @ab48917 ,
Thank you for this data, it shows that the command line arguments are not being passed to the application.  so with that we can rule out Spring Cloud Task.
Now some of the reasons that a task application will not receive task arguments:
1) How is your image created?   Is it using a shell app to launch your task application?  If so, is the shell app passing the arguments to the app

[2021-04-22 07:51] ThibaultDelaune-pro commented on #4303
Sorry but I don't see how the solution enumerated in #4476 would solve my problem?!?
This is not an information issue but a runtime issue.
Even if I knew which timezone the platform is associated (in my case UTC), it wouldn't start my task in the correct time (in my case UTC+1 or UTC+2)!
Please reconsider this PR.

[2021-04-22 07:58] ThibaultDelaune-pro commented on #4303
Would it be possible to make SCDF launch [TZCronjob](https://github.com/hiddeco/cronjobber) instead of Cronjob?

[2021-04-22 09:09] 23king commented on #4303
SCDF is just only serve to register the cron cloudPlatform. Do not use the cronjob in SCDF.

[2021-04-23 10:53] szopal opened #4483 "DB password not passed when SPRING_CLOUD_DATAFLOW_TASK_USE_KUBERNETES_SECRETS_FOR_DB_CREDENTIALS is set to true"
Hi,

I have problem in SCDF v.2.7.1 - when SPRING_CLOUD_DATAFLOW_TASK_USE_KUBERNETES_SECRETS_FOR_DB_CREDENTIALS is set to true and I try to run Composed Task I get error:

2021-04-23 12:41:30.729  INFO 1 --- [           main] o.s.c.d.c.ComposedTaskRunner             : Starting ComposedTaskRunner v2.7.1 on hdallreplica-gw0ryo4no3 with PID 1 (/maven/composed-task-runner.jar started by root in /)
202

[2021-04-23 16:10] ab48917 commented on #3993
Hi @cppwfs  Thank you so much for such nice explanation. Yeah It was added in SCDF application yml entrypointstyle= Shell and hence everything was going as env config. However, changed the entrypontstyle=exec but Its not letting us to trigger the pod. getting below error while launching from openshift. However, Its passing all the properties and command line arguments as container arguments.
Tried

[2021-04-23 18:08] trlo-bite opened #4484 "NullPointerException when restarting scheduled jobs on k8s"
When trying to restart failed scheduled batch job on kubernetes I get NullPointerException:
[code]

From the code it looks like task manifest isn't created when launching scheduled tasks? Restarting non scheduled jobs works as expected.
Using Spring Cloud Data Flow 2.7.1

[2021-04-24 13:37] cppwfs commented on #3993
@ab48917 You are getting this error because we can not include the oracle JDBC drivers in our binary deployments according to the Oracle license.   You can pull down the Spring Cloud Data Flow Project and under the `spring-cloud-dataflow-composed-task-runner` project include the Oracle jdbc driver in the pom.xml.   Then rebuild the project.   Instructions for building SCDF can be found here: https

[2021-04-24 13:39] cppwfs commented on #4046
There are 2 issues for this topic:
* This one
* https://github.com/spring-cloud/spring-cloud-task/issues/778

[2021-04-24 14:03] ab48917 commented on #3993
@cppwfs Thank you for suggestion but we already added the oracle JDBC drivers in composed task runner pom as well as spring clould dataflow pom. and passing the database details via configmap. but that said still throwing this error. is it anything related to  building by s2i? Also, tried adding database details to application.yml but still having same issue. Its taking another args from container

[2021-04-25 13:24] cppwfs commented on #3993
2 things really quick:
* Verify that your SCDF is configured to launch the correct image for your Composed Task Runner pod : https://docs.spring.io/spring-cloud-dataflow/docs/current/reference/htmlsingle/#_registering_the_composed_task_runner
* s2i by default uses a shell entry point to launch its java apps and does not pass along its command line args.

[2021-04-26 10:02] github-actions[bot] opened #4486 "backport(4434): Fix stream logs Authorization rule"
Backport #4434

[2021-04-26 10:03] jvalkeal commented on #4486
Was fixed per c408bb60379fcdb0c8e0648f8b41b63be51a18d7

[2021-04-26 10:03] #4486 closed

[2021-04-26 10:05] jvalkeal commented on #4482
Fixed per c15cf365f03e169762de3e58372fa22bcc810100

[2021-04-26 10:05] #4482 closed

[2021-04-26 10:10] github-actions[bot] opened #4487 "backport(4469): Updating stream with the same version as the deployed version returns a stack trace"
Backport #4469

[2021-04-26 10:11] jvalkeal commented on #4438
Fixes in ce5565f6bf31193b4bd0b10e66c73e6591930485

[2021-04-26 10:11] #4438 closed

[2021-04-26 10:15] #4429 closed

[2021-04-26 13:41] klopfdreh opened #4488 "Config "deploymentServiceAccountName" in spring-cloud-dataflow server is not used"
**Description:**
The property to configure the ServiceAccount which is used to spawn / list / etc. tasks within docker container in a kubernetes environment is not working properly.

**Release versions:**
spring-cloud-dataflow-server:2.7.1

**Custom apps:**

**Steps to reproduce:**
Use the kubernetes quick start and set the service account for tasks like in the following snippet:

[code]

The serv

[2021-04-26 19:21] kristopax opened #4491 "Docker network deployment property appears to not work"
**Description:**
spring.cloud.deployer.local.docker.network property (in the Deployment properties for platform page in the SCDF dashboard) does not seem to work.  The default value is "bridge"; however, when I change the value to "host", it appears that when SCDF launches the docker container (for my processor app within my stream application), the docker command that executes specifies the netwo

[2021-04-28 16:11] ab48917 commented on #3993
Thanks @cppwfs. Yeah by default s2i uses a shell entry point so as suggested I have updated to entrypoint as exec but still I am getting below error even for individual tasks as well as composed tasks.

_Error: container create failed: time="2021-04-27T11:38:25Z" level=error msg="container_linux.go:366: starting container process caused: exec: \"--management.metrics.tags.service=task-application\"

[2021-04-28 16:19] ab48917 commented on #4406
@cppwfs - Did you get a chance to look in this? One quick observations, While updated the log in composed task runner code to print the accesss token and seeing that its passing properly to scdf while making the rootresource call.

**_RootResource resourceSupport = restTemplate.getForObject(baseURI, RootResource.class);_**

But Its getting error in scdf saying that provided token is invalid.  Is t

[2021-04-28 16:22] ab48917 commented on #4406
@cppwfs / @sabbyanandan  / @szopal  - Any thoughts would be helpful.

[2021-04-28 18:02] szopal commented on #4406
Could you show us your bootstrap.yml/application.yml for SCDF?

[2021-04-29 06:58] jvalkeal opened #4493 "Align docker-compose with pack changes"
We're now trying to build images with cloud native via pack, instead from maven builds. Docker compose files needs to be changed as they are using entrypoints.

[2021-04-30 06:52] jvalkeal opened #4495 "SSL issue in jdk 1.8.0_292"
Trying to use ssl with `pkcs12` key story type throws error

[code]

with `1.8.0_292` which were just releases. Looks to be a bug there per https://bugs.java.com/bugdatabase/view_bug.do?bug_id=JDK-8266261.
We could pin older builder base for pack based images to get previous jdk release which fixes this issue.

[2021-04-30 06:53] umutcann opened #4496 "HTTP 504 Timeout Error during task launching"
Hi,

When we try to launch task via Rest API, we are getting error like below.

<html><body><h1>504 Gateway Time-out</h1>
The server didn't respond in time.
</body></html>

That is scdf logs. Do you have any comments?

[code]

[2021-04-30 06:59] #4495 closed

[2021-04-30 14:53] josh-crisostomo opened #4498 "SCDF Dashboard UI fails to load"
**Description:**
We have a spring cloud data flow server and skipper deployed in RedHat OpenShift with no issues, but when trying to access the dashboard we get a loading icon. It gets stuck and continually spins. In our previous cluster there were no issues accessing the dashboard UI using the same scdf server and skipper versions. Checked deployment files and nothing is giving red flags. Any hel

[2021-04-30 14:58] #4498 closed

[2021-05-03 09:03] #4479 closed

[2021-05-03 11:21] jvalkeal opened #4499 "Remove LB's not needed"
https://github.com/spring-cloud/spring-cloud-dataflow/blob/9337fc031293ee83b58fd7655f8d7207164856b1/spring-cloud-dataflow-server/src/test/java/org/springframework/cloud/dataflow/integration/test/DataFlowIT.java#L821

This is somewhat hitting public ip quota on aws account for tests.

[2021-05-03 12:19] cppwfs commented on #3993
Correct.  At this point you will have to do one of the following:
* Update your s2i scripts to allow for command line args to be passed to the Spring Batch/Task App.
* Create container using Spring Boot: https://spring.io/guides/gs/spring-boot-docker/
* Create container using a dockerfile or Jib

[2021-05-03 12:30] cppwfs commented on #4496
Hello,
Not seeing a lot of detail here.
What version of SCDF?
Deploying to Kubernetes?  If so, is the Kubernetes cluster healthy?
Did the task launch?

[2021-05-03 18:11] sabbyanandan commented on #4461
Closing due to no activity.

[2021-05-03 18:11] #4461 closed

[2021-05-03 18:14] sabbyanandan commented on #4470
Quick update. Thanks to @nicholasmhughes, they recently published an elaborate blog on this subject -> https://eitr.tech/blog/2021/04/12/keycloak-oauth-for-spring-cloud-dataflow.html -- perhaps review the steps and retry on your enviornemnt.

[2021-05-03 18:15] sabbyanandan commented on #4470
@thekindler, since you pinged on the same topic in Gitter, perhaps you could try it, as well.

[2021-05-03 18:19] sabbyanandan commented on #4472
@tzolov: Could you share how we correlate the app/pod-specific metrics to reconstitute the stream definition, and likewise, the stats at the level of apps and streams? Perhaps we could document that even so we can the details to answer the questions posted by @guoyiang here.

[2021-05-03 18:20] sabbyanandan commented on #4480
Hey, @kumarprashant2103. Could you please update the description with the exact steps as to how you have SCDF running on K8s, and also the steps on how the private Docker registry is configured.

[2021-05-03 18:23] sabbyanandan commented on #4483
@szopal: Please share a bit more detail on how SCDF and CTR are configuration and running in your environment. That'd help unpack the specifics and help troubleshoot it.

[2021-05-03 18:23] sabbyanandan commented on #4484
Yikes. We will have a look, @trlo-bite. Thanks for reporting.

[2021-05-03 18:25] github-actions[bot] opened #4500 "backport(4484): NullPointerException when restarting scheduled jobs on k8s"
Backport #4484

[2021-05-03 18:26] sabbyanandan commented on #4491
Hi, @kristopax. Please post questions on StackOverflow; one of the team members will respond. We use GH for bugs and feature requests.

[2021-05-03 18:26] #4491 closed

[2021-05-03 18:28] sabbyanandan commented on #4496
Questions like this are better suited for StackOverflow.

It could be a gateway timeout issue in the platform where SCDF is running; it could be that the dependent services are perhaps choking. Hard to tell. If you have a reproducible scenario, at that point, please reopen the card with the details.

[2021-05-03 18:28] #4496 closed

[2021-05-03 19:10] nicholasmhughes commented on #4470
Unfortunately, I haven't found a way around this either. I tried using rewrite-target on ingress, but it effectively broke navigation to some other pages. Out of curiosity, does anyone know why the default page is a JSON response of links?

[2021-05-03 21:54] cppwfs commented on #4484
Hello @trio-bite,
A little background before jumping into the issue.   Data Flow supports the ability to launch tasks on multiple platforms.   However once a task for a batch job has been launched on a platform, that task has to be re-executed on that same platform.   The platform information that is stored for the task-execution for the batch job is stored in the task-manifest.    The  issue is t

[2021-05-03 22:01] cppwfs commented on #4483
This is a feature add for Composed Task Runner.   It would have to add kubernetes specific feature set to retrieve the credentials from secrets.   Currently it expects to get this full suite of credentials from data flow itself.

[2021-05-04 06:38] szopal commented on #4483
We have connected SCDF with Spring Cloud Config Server where are keep DB credentials. Below Deploymeny and Application configuration:

Deployment:
[code]

App configuration:

[code]

I have noticed if I pass DB credential in kubernetes secret it's working and Composed Task can get DB credential without store it in database.

[code]

[2021-05-04 11:43] tomgeraghty3 opened #4501 "NPE when trying to unregister a group of apps and one is in use by a stream"
**Description:**
A `NullPointerException` occurs when using the "Group Actions" in "Applications" and trying to unregister 2 or more apps when at least 1 of those apps is in use by a Stream. This is when running SCDF locally

In my example I have "file" as a source in use by a stream. If I try to unregister this app I get:
The app [file:source:3.0.1] you're trying to unregister is currently used i

[2021-05-04 22:42] pravinkumarb84 opened #4502 "Adding Env Variable to a Init Container in stream"
Hi Team,

I am trying to add an Env variable to an Init Container of a stream. Please let me know what is the syntax or way to add it. In the example given in the docs below, there is only 3 fields

`deployer.<application>.kubernetes.initContainer={containerName: 'test', imageName: 'busybox:latest', commands: ['sh', '-c', 'echo hello']}`

https://docs.spring.io/spring-cloud-dataflow/docs/current/r

[2021-05-05 14:24] cppwfs opened #4503 "Allow Parent ID to be added to task execution entry created by data flow"
Update dataflow's task execution stub entry creation to add a parent id.
When dataflow launches a task it creates a task execution stub entry, this stub is then used by task to populate its information accordingly.   However in cases where composed task runner requests a launch of a task this stub entry needs to have the ctr's execution id added as a parent id.  Currently we pass an argument or pr

[2021-05-05 15:10] ilayaperumalg opened #4504 "Add integration test for upgrading stream with application having multiple instances"

[2021-05-05 15:16] chrisjs commented on #4488
i'm not able to reproduce this, using:

[code]

and adding the following to `server-config.yaml`:

[code]

i then added task docker apps to dataflow server, created a `timestamp` task and executed it. the task executed and completed as expected with the following service account that was set per above:

[code]

if you have specific steps to reproduce, feel free to open but looks like everything is

[2021-05-05 15:16] #4488 closed

[2021-05-07 07:05] shalomyasap opened #4505 "SCDF UI - getting error 500 at the UI when trying to open Tasks definition window (related to Issue #4358)"
Hello,

We are getting error 500 when trying to open the UI at task definitions window.
This error raise when task attribute value containing a pipe character - " | ".
The task defines successfully via REST API with all attributes and their values, including quotes, e.g. /tasks/definitions/TASK_NAME --data-urlencode "definition=--param-name='abcd|efg'"

This issue solved backed than at master rele

[2021-05-07 08:17] jvalkeal opened #4506 "Move config client dep location"
New config client from 2020.0.2 starts to give errors like:

[code]

Doesn't cause issues at runtime as client probably backs away with other cloud bootstrap stuff.

[2021-05-07 08:41] jvalkeal opened #4507 "Remove fabric8 dep management"
With cloud 2020.0.2 we now rely on its dep managment, so remove dep management from project poms.

[2021-05-07 11:22] canerkoseren opened #4509 "Executing a shell command"
Hi all,

I am triggering a task over scdf dashboard by using deployer properties. I want to execute a shell command right after the pod creation, before the application initialization.

I looked at the [spring-cloud-dataflow-docs/configuration-kubernetes](https://docs.spring.io/spring-cloud-dataflow/docs/current/reference/htmlsingle/#configuration-kubernetes), but I could not find a proper propert

[2021-05-07 11:26] #4509 closed

[2021-05-07 11:26] canerkoseren commented on #4509
I migrate the issue under 'spring-cloud-deployer-kubernetes'

https://github.com/spring-cloud/spring-cloud-deployer-kubernetes/issues/439

[2021-05-07 11:44] #4506 closed

[2021-05-07 11:44] #4507 closed

[2021-05-07 13:09] ilayaperumalg commented on #4504
This is related to https://github.com/spring-cloud/spring-cloud-deployer-cloudfoundry/issues/370

[2021-05-09 03:45] klopfdreh commented on #4488
Hi @chrisjs / @sabbyanandan - have you also checked that the user which was configured in the pod was used to execute the operations? I also saw that it in the pod yaml when I launched the tasked, but it was not used for operations from the scdf which is the actual issue.

[2021-05-10 09:23] canerkoseren opened #4511 "Wrong status for started steps, if the pod is deleted while batch is running"
**Description:**
If the pod is deleted while batch is running, the task status changes to 'Completed' even though the steps are started.

**Release versions:**
spring-cloud-data-flow:    2.8.0-SNAPSHOT
spring-cloud-starter-task:  2.2.2.RELEASE
spring-boot-starter-batch: 2.1.6.RELEASE

**Screenshots:**
![shot](https://user-images.githubusercontent.com/4264155/117636160-369fa480-b189-11eb-8ff4-03dbd

[2021-05-10 09:52] klopfdreh commented on #4488
After a lot of debugging we found out that the scdf server uses the service account the server itself was started with (at pod definition level) to call the k8s APIs. The deploymentServiceAccountName at the previous mentioned configuration level is only for the tasks themself.

Maybe it is worth to mention this in the documentation, but all is working like expected. 👍

[2021-05-10 10:30] canerkoseren commented on #4511
Hi all,

I got the same result when I set `spring.cloud.task.batch.failOnJobFailure=true`

[2021-05-10 11:52] jvalkeal commented on #4505
Those commits ^^^ are referencing wrong issue.

[2021-05-10 13:39] canerkoseren commented on #4509
Hi all,

An update: I have upgraded the version to 2.8.0-SNAPSHOT.

With these version, I started to deploy a side-car container by using the property `deployer.appl.kubernetes.additional-containers` .

With these approach, the side-car container should be deployed before the application container. The application container should be started after side-car container is in ready state.

I considere

[2021-05-11 07:31] #4504 closed

[2021-05-11 15:42] sabbyanandan commented on #4453
Closing this due to no activity.

[2021-05-11 15:42] #4453 closed

[2021-05-11 15:49] sabbyanandan commented on #4251
Not able to reproduce this in our test environments.

[2021-05-11 15:49] #4251 closed

[2021-05-11 16:07] AnkitSachdeva7117 opened #4513 "Getting Exception Spring cloud conncetor has detected or add JBP_CONFIG_SPRING_AUTO_RECONFIGURATION '{enabled:false}'"
Hi,

I am getting exception "Spring Cloud Connector library has been detected  or add JBP_CONFIG_SPRING_AUTO_RECONFIGURATION '{enabled:false}' ".

I am getting this exception after adding the io.pivotal.spring.cloud (Spring-cloud-services-starter-config-client) for config server in pcf.

As suggested in exception to add JBP_CONFIG_SPRING_AUTO_RECONFIGURATION '{enabled:false}' , after this i am get

[2021-05-11 17:04] jvalkeal opened #4514 "Config map not applied with k8s deployment files"
We miss database config with new images created via paketo.

https://github.com/spring-cloud/spring-cloud-dataflow/commit/df91ab22a5a05d9354b48617b011a873f9002721
https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#boot-features-external-config-files

Need to change config mount from `/config` to /workspace/config`.

[code]

[2021-05-11 17:08] #4514 closed

[2021-05-12 09:52] ilayaperumalg commented on #4414
Yes, this was addressed as part of https://github.com/spring-cloud/spring-cloud-dataflow/issues/3902

One can delete the task executions associated with task definition as follows:

[code]

[2021-05-12 09:52] #4414 closed

[2021-05-12 13:07] cppwfs commented on #4511
Hello @canerkoseren ,
When you kill a pod it sends a SIGTERM to the application.    The default behavior of a task/boot app is to terminate with a zero exit code as discussed here: https://docs.spring.io/spring-cloud-task/docs/current/reference/html/#features-lifecycle-exit-codes.
Here is a blog written by Mahmoud on how to handle this scenario: https://spring.io/blog/2021/01/27/spring-batch-on-ku

[2021-05-12 13:07] #4511 closed

[2021-05-13 12:00] ilayaperumalg commented on #4469
This needs to be fixed at Skipper side and hence moving there.

[2021-05-13 12:35] ilayaperumalg commented on #4501
Hi @tomgeraghty3 , Thanks for reporting this.

I try to replicate the issue you see and have a question.

In this, Could you tell me how this is different from the first step where you tried to unregister one of the used apps along with unused apps?

[2021-05-13 16:20] cppwfs commented on #4505
Yeah this issue #4358 should have been marked for backport to the 2.7.x branch.   It will be available for the 2.8.x. release.   I will add backport to labels

[2021-05-13 16:21] cppwfs commented on #4505
Backported to 2.7.x branch.   will be available in 2.8.x and 2.7.3.   Sorry for the inconvenience.

[2021-05-13 16:21] #4505 closed

[2021-05-14 07:09] #4457 closed

[2021-05-14 13:19] dturanski commented on #4513
@AnkitSachdeva7117 - What version of dataflow are you using?

[2021-05-14 22:12] cppwfs opened #4516 "SCDF Tasks NPE when launching on Cloud Foundry if previous task_executions have not been populated"
When SCDF launches tasks on CF it checks to see if the task is executing before launching.
It does this by looking for task executions that are running from the task_execution table.
From that it obtains the external_execution_id.    It then uses this external_execution_id to determine if the task is still running CF.
The issue is that if the task_execution has been created by SCDF but the task di

[2021-05-17 10:22] jvalkeal opened #4517 "Remove commons-io dep management"

[2021-05-17 10:23] #4517 closed

[2021-05-17 14:08] dturanski commented on #4267
Closing as invalid since we have verified that this works as designed.

[2021-05-17 14:08] #4267 closed

[2021-05-18 00:11] tomgeraghty3 commented on #4501
Hi @ilayaperumalg,

In the first screenshot I tried to unregister the app that was in use on it's own - i.e. I only unregister **that** app and nothing else - and I get the correct message.
In the second screenshot I tried to unregister the app that was in use at the same time as unregistering any other app through the use of the checkboxes in the UI - and I get the `NullPointerException`

Does th

[2021-05-18 07:13] ilayaperumalg commented on #4501
In the second screenshot I tried to unregister the app that was in use at the same time as unregistering any other app through the use of the checkboxes in the UI - and I get the NullPointerException
Does this clarify things?

Yes, it does. But, I could not successfully replicate the issue as I don't see NPE with the above step. Are you seeing this every time when you try the above step?

[2021-05-18 09:12] jvalkeal opened #4519 "Migrage from commons-lang"
Mostly in favour of commons-lang3 but there something is deprecated in favour of commons-text.

[2021-05-18 15:37] #4519 closed

[2021-05-18 16:40] zgassmann opened #4521 "No pod annotations can be added to a scheduled task"
When launching a task from the GUI the pod gets the jobAnnotations defined either in the deployment properties or in the default task.platform.kubernetes.accounts.jobAnnotations.

When scheduling the task, the cronjob gets the jobAnnotations but not the pod of the task.
How can we add pod annotations to a scheduled task ?

[2021-05-19 08:59] ilayaperumalg opened #4523 "Create a CI plan to validate bitnami chart on the latest release"
We need to have a dedicated one-off CI plan that runs the acceptance tests against the latest SCDF OSS release of the bitnami chart to validate the chart as well as the release.

[2021-05-21 09:40] klopfdreh opened #4524 "Documentation: Using rest API via OpenShift through"
**Problem description:**
Is your feature request related to a problem? Please provide a clear and concise description of what the problem is.

**Solution description:**
Describe the solution you would like. We need a clear and concise description of what you want to happen. Also, have you considered cases outside the expected flow (edge cases)? What should happen in those cases?

**Description of

[2021-05-21 15:32] sabbyanandan opened #4525 "Remaining gaps wrt 2.8.x docs/samples"
As we are close to 2.8 RC1, let's make sure that 2.8.x docs are up-to-date with the latest features and the new API documentation is captured/tested thoroughly.

The new task UI/UX screenshots need replacement, as well.

Let's also review the CF/K8s compatibility charts and update them to the latest versions we test against.

Also useful to review things on the Microsite for completeness.

[2021-05-21 15:33] sabbyanandan opened #4526 "Test the new Task UI/UX workflows"

[2021-05-21 22:44] eskuai commented on #4470
Hi @shehanab

Check https://github.com/jvalkeal/randomstuff/tree/master/dataflow-keycloak very carefully and it works ...

Double check to json definition, skipper side and scdf side ... i dont know why, but if yaml gets some tree-tag configurations not valid ... no issue is warning ... for example, an openid scope is not looking good.

I dont know what kc versions is .. another warn, lastest kc c

[2021-05-23 15:14] jvalkeal opened #4527 "Initial ytt templating for k8s files"
We'd like to provide `ytt` template files to generate needed k8s deployment files. We can't do everything with this issue but having a base set of "mvp" features to get started.

[2021-05-24 13:53] ab48917 commented on #4406
@cppwfs - Any update please on this?
Its stopping us to go SCDF in prod region. Please help.

[2021-05-24 16:45] sabbyanandan commented on #920
Super old; closing.

[2021-05-24 16:45] #920 closed

[2021-05-24 16:48] sabbyanandan commented on #2077
Stale; closing.

[2021-05-24 16:48] #2077 closed

[2021-05-24 16:49] sabbyanandan commented on #2271
Stale; closing.

[2021-05-24 16:49] #2271 closed

[2021-05-24 16:54] sabbyanandan commented on #2503
Wrapped it in https://github.com/pivotal/scdf-pro-ui/issues/42.

[2021-05-24 16:54] #2503 closed

[2021-05-24 16:56] sabbyanandan commented on #2638
Done: https://github.com/spring-cloud/spring-cloud-dataflow/blob/main/spring-cloud-dataflow-server/src/test/java/org/springframework/cloud/dataflow/integration/test/DataFlowIT.java#L449.

[2021-05-24 16:56] #2638 closed

[2021-05-24 16:57] sabbyanandan commented on #2663
StreamConfiguration, TaskConfiguration and SchedulerConfiguration exist now.

[2021-05-24 16:57] #2663 closed

[2021-05-24 16:59] sabbyanandan commented on #2693
Stale; closing.

[2021-05-24 16:59] #2693 closed

[2021-05-24 17:00] sabbyanandan commented on #2811
@mminella: Any thoughts on this?

[2021-05-24 17:01] sabbyanandan commented on #2885
Cycles were tested out via: https://github.com/spring-cloud/spring-cloud-dataflow-acceptance-tests/issues/323

[2021-05-24 17:01] #2885 closed

[2021-05-24 17:01] sabbyanandan commented on #2922
Stale; closing.

[2021-05-24 17:01] #2922 closed

[2021-05-24 17:02] sabbyanandan commented on #3163
Stale; closing!

[2021-05-24 17:02] #3163 closed

[2021-05-24 17:03] sabbyanandan commented on #3235
Stale; closing.

[2021-05-24 17:03] #3235 closed

[2021-05-24 17:04] sabbyanandan commented on #3316
Stale; closing.

[2021-05-24 17:04] #3316 closed

[2021-05-24 17:04] sabbyanandan commented on #3355
Addressed via: https://github.com/spring-cloud/spring-cloud-dataflow/pull/4395.

[2021-05-24 17:04] #3355 closed

[2021-05-24 17:06] sabbyanandan commented on #3454
Improved:
![image](https://user-images.githubusercontent.com/1562654/119382996-a7f65180-bc77-11eb-9a3a-5612ed63ee72.png)

[2021-05-24 17:06] #3454 closed

[2021-05-24 17:08] sabbyanandan commented on #3544
@mminella: What are your thoughts?

[2021-05-24 17:13] sabbyanandan commented on #3663
Still a problem:
![image](https://user-images.githubusercontent.com/1562654/119383778-9d888780-bc78-11eb-92e8-015c36343e6a.png)

[2021-05-24 17:15] sabbyanandan commented on #3706
I have the detail I needed on this subject. Thanks, Gary.

[2021-05-24 17:15] #3706 closed

[2021-05-24 17:17] sabbyanandan commented on #3824
Stale; closing.

[2021-05-24 17:17] #3824 closed

[2021-05-24 17:19] sabbyanandan commented on #3829
Stale; closing.

[2021-05-24 17:19] #3829 closed

[2021-05-24 17:19] sabbyanandan commented on #3837
Stale; closing.

[2021-05-24 17:19] #3837 closed

[2021-05-24 17:21] sabbyanandan commented on #3890
2.8.x container images are built with `kpack`. See -> https://github.com/spring-cloud/spring-cloud-dataflow/blob/c57350918d33059a7535371cfe3136daf84c7d75/.github/workflows/ci.yml

[2021-05-24 17:21] #3890 closed

[2021-05-24 17:22] sabbyanandan commented on #3945
We are now on 2.8.x -> https://github.com/spring-cloud/spring-cloud-dataflow/blob/main/pom.xml#L68

[2021-05-24 17:22] #3945 closed

[2021-05-24 17:22] sabbyanandan commented on #4031
Not required anymore.

[2021-05-24 17:22] #4031 closed

[2021-05-24 17:23] sabbyanandan commented on #4040
@jvalkeal: Given the new pack/kpack based builds and the container images on 2.8.x, is this still a problem for us?

[2021-05-24 17:24] sabbyanandan commented on #4047
@sobychacko: ping.

[2021-05-24 17:25] sabbyanandan commented on #4091
Addressed via: https://github.com/spring-cloud/spring-cloud-dataflow/issues/3902.

[2021-05-24 17:25] #4091 closed

[2021-05-24 17:26] sabbyanandan commented on #4095
Closing due to no activity.

[2021-05-24 17:26] #4095 closed

[2021-05-24 17:26] sabbyanandan commented on #4106
Here's an example -> https://docs.pivotal.io/scdf-k8s/1-2/pro-features/multi-io-support.html

[2021-05-24 17:26] #4106 closed

[2021-05-24 17:27] sabbyanandan commented on #4110
Duplicates #3654.

[2021-05-24 17:27] #4110 closed

[2021-05-24 17:31] sabbyanandan commented on #4124
@ilayaperumalg: Any chance you can update the description with the end-user facing requirements as to why/how this would be useful? Curious about the user scenarios.

[2021-05-24 17:33] sabbyanandan commented on #4150
Hi, @dcguim, it is now possible to also clean up the associated task executions via a few new APIs: https://github.com/spring-cloud/spring-cloud-dataflow-ui/issues/1710#issuecomment-842989062 -- see if that helps with your automation.

If you still see areas of improvement, feel free to comment and reopen.

[2021-05-24 17:33] #4150 closed

[2021-05-24 17:34] sabbyanandan commented on #4161
@dturanski @ilayaperumalg: Is this still an issue?

[2021-05-24 17:34] sabbyanandan commented on #4180
Should this be in ref. guide or a recipe in Microsite?

[2021-05-24 17:35] sabbyanandan commented on #4186
@ilayaperumalg @cppwfs:  This sounds problematic; is this still an issue?

[2021-05-24 17:38] sabbyanandan commented on #4226
In 2.8.x, we now support the tracing at the level of SCDF, Skipper, and Apps (including, Tasks). @jvalkeal @tzolov: Is this something sufficient for now?

[2021-05-24 17:44] sabbyanandan commented on #4294
Addressed via: https://github.com/spring-cloud/spring-cloud-deployer-kubernetes/pull/413. Thanks again, @deepak5127!

[2021-05-24 17:44] #4294 closed

[2021-05-24 17:47] sabbyanandan commented on #4380
@jvalkeal: Is this still a problem?

[2021-05-24 17:48] sabbyanandan commented on #4386
Stale; closing.

[2021-05-24 17:48] #4386 closed

[2021-05-24 17:50] sabbyanandan commented on #4412
@tzolov: Can you have a look and share your findings?

[2021-05-24 18:42] sabbyanandan commented on #4443
@dturanski: Are we still targeting this in 2.8 RC1?

[2021-05-24 18:53] sabbyanandan commented on #4525
Review also the new PRO feature via: https://github.com/pivotal/scdf-pro-ui/issues/42.

[2021-05-24 18:54] sabbyanandan opened #4528 "Upgrade to Boot 2.5.x"
Related work for spring-cloud/spring-cloud-dataflow-build#37

[2021-05-24 19:06] sabbyanandan commented on #4525
Also, pay attention to: https://github.com/pivotal/scdf-pro/issues/51.

[2021-05-24 20:07] mminella commented on #2811
@sabbyanandan These are SCDF tables and would assist in search so makes sense to me. That being said, a longer term consideration may be to incorporate something like elastic into the system to provide more robust searching capabilities...

[2021-05-25 01:36] dturanski commented on #4161
AFAIK yes

[2021-05-25 05:16] ilayaperumalg commented on #4124
@sabbyanandan This is in line with https://github.com/spring-cloud/spring-cloud-dataflow/issues/3826 which explains the scenario to this case. Let me know if that makes sense.

[2021-05-25 07:31] jvalkeal opened #4529 "Define non simple ctr props as nested"
ctr props `composedTaskAppArguments` and `composedTaskAppProperties` are nested
and should be defined so that ui doesn't try to show those as simple values.

[2021-05-25 07:34] ilayaperumalg commented on #4180
What we have here: https://dataflow.spring.io/docs/feature-guides/general/application-metadata/#container-registry-support is sufficient and hence closing.

[2021-05-25 07:34] #4180 closed

[2021-05-25 08:18] #4529 closed

[2021-05-25 13:01] dturanski commented on #4443
@sabbyanandan - Likely will not make the deadline

[2021-05-25 18:35] jvalkeal opened #4531 "Remove manage micrometer prometheus-rsocket-spring"

[2021-05-25 18:39] #4531 closed

[2021-05-26 07:45] ilayaperumalg opened #4532 "Cleanup all task execution doesn't work on postgres"
The [logic](https://github.com/spring-cloud/spring-cloud-dataflow/blob/5de42b21279fb11221abd3529a116bcb6f5c6c8c/spring-cloud-dataflow-server-core/src/main/java/org/springframework/cloud/dataflow/server/repository/JdbcDataflowTaskExecutionDao.java#L213) to get all the task executions doesn't work on postgres.

[2021-05-26 07:46] ilayaperumalg opened #4533 "Task execution cleanup doesn't work on the scheduled tasks"
When the task is scheduled, then the action to run the task execution cleanup fails as it expects parent execution ID to be set.

[2021-05-26 09:26] ilayaperumalg commented on #3767
Hi @rj93, My apologies for the delay. Missed this completely.

You can specify this via `app.<app-name>.spring.cloud.kubernetes.config.sources[0].name` when deploying the stream.

Closing this issue for now. But, feel free to re-open if you see any issues. Thanks!

[2021-05-26 09:26] #3767 closed

[2021-05-26 09:28] ilayaperumalg commented on #4501
Closing this as non-issue. But, please feel free to re-open if you still see this. Thanks!

[2021-05-26 09:28] #4501 closed

[2021-05-26 14:48] cppwfs opened #4535 "kubectl script server-rolebinding uses v1beta1 which is no longer supported in v22"
In v17 v1beta1 was deprecated.    In v22+ it is no longer supported.   We need to update to v1.
https://github.com/spring-cloud/spring-cloud-dataflow/blob/main/src/kubernetes/server/server-rolebinding.yaml#L2

[2021-05-26 17:48] sabbyanandan opened #4536 "Error when no schedules exist"
@sabbyanandan commented on [Thu May 06 2021](https://github.com/spring-cloud/spring-cloud-dataflow-ui/issues/1708)

See:
![image](https://user-images.githubusercontent.com/1562654/117371399-aefe2100-ae7c-11eb-829e-869bce6a351a.png)

Build: 2.8 SNAPSHOT on K8s.

---

@oodamien commented on [Mon May 10 2021](https://github.com/spring-cloud/spring-cloud-dataflow-ui/issues/1708#issuecomment-836350101)

[2021-05-26 18:13] sabbyanandan opened #4537 "Launching a previously created CT definition fails with NPE"
As a user, on CF, I attempted to relaunch the same CT definition from last week, and I get an NPE in CTR instead.

Notes:
- I don't have any schedule created on this definition.
- I don't have any existing droplets on the tasks in the CTR.
- I don't have a successful launch of this task from last week either, just the definition was created last week.
- Of course, I don't have any task executions

[2021-05-26 18:15] sabbyanandan commented on #4537
FWIW, I see this on PRO 1.3-SNAP (2.8 SNAP) on TAS.

[2021-05-26 18:47] sabbyanandan opened #4538 "Destroying an existing CT definition without a schedule fails with an NPE"
This is probably an extension of #4537.

Notes:
1- I do have a scheduler instance available in the ORG/Space where I am launching this task (see screenshot). However, I am _not_ scheduling the launch.
2- I do have the platform accounts in SCDF wired with the available scheduler instance; of course, I am not using it, anyway.
3- No task executions exist for this task either. DB is clean for this gi

[2021-05-26 19:01] cppwfs commented on #4536
Please verify that the SCDF is configured properly.   A simple way to do this is to launch a task and attempt to select a platform.   You should see at least one option `default (kubernetes)`.   If none appears then the container that you are using may not have been built correctly.

[2021-05-26 19:37] cppwfs commented on #4537
When creating a new CTR does this occur?

[2021-05-26 20:23] sabbyanandan commented on #4537
It fails for new CT on my end. You should try it on your side.

[2021-05-26 20:26] sabbyanandan opened #4539 "Launching new CT fails with NPE on TAS"
In 1.3-SNAP (2.8 SNAP), a simple CT launch (with multiple steps) is failing.

Definitely an extension and relates to #4537 and #4538. Most likely a common fix for all of these different operations on CTR 2.8-SNAP.

[code]

[2021-05-26 20:42] sabbyanandan opened #4540 "Typo in Scheduler configuration YAML sample"
Under the scheduler config section, the `manifest.yaml` points to:

... SCHEDULER 2x.

[2021-05-26 20:52] sabbyanandan commented on #4539
FWIW, here's my SAJ section from my `manifest.yaml` for comparison:

[code]

[2021-05-27 04:55] ilayaperumalg commented on #4539
If this is a real issue, then we probably don't have a dedicated test to cover this in our IT or AT?

[2021-05-27 08:11] github-actions[bot] opened #4543 "backport(4161): Deployment page in dashboard fails to parse stream definition using composed functions"
Backport #4161

[2021-05-27 10:28] #4499 closed

[2021-05-27 12:20] #4161 closed

[2021-05-27 13:51] jvalkeal opened #4544 "Remove docker image build from maven"

[2021-05-27 14:06] #4544 closed

[2021-05-27 16:26] jvalkeal commented on #4536
1. Server should be better not to throw npe if scheduler is not defined
2. I'm questioning that we're just throwing too much stuff into those toast messages(as in this case that schedules box could then tell no schedules).

[2021-05-27 17:27] cppwfs commented on #4536
When I've seen this before (not saying its the case here) it was a problem in the setup of the dataflow.  ie. dataflow didn't have a task launcher for example.   We can break up the command to give us more data.

[2021-05-27 17:32] #4532 closed

[2021-05-27 17:32] #4533 closed

[2021-05-27 18:01] sabbyanandan commented on #4525
https://github.com/spring-io/dataflow.spring.io/issues/365 is required, as well.

[2021-05-27 18:06] sabbyanandan opened #4545 "Duplicate audit records with stream-upgrade operation"
As a user, when I updated a stream with the name `minutes` to roll out a new version for the sink-app, I see multiple records with the "update" operation captured as audit trails. It is not clear whether they are presenting the same view, or if it has to do with start and end like audit events.

Depending on the answer, we need to update the docs to reflect the behavior correctly.

see:
![image](h

[2021-05-27 19:39] ilayaperumalg commented on #4186
Yes, we need an explicit K8s task launcher properties extracted from the K8s platform account properties to be used in the K8s task launcher. Fixed via #4546

[2021-05-28 08:05] jvalkeal commented on #4539
@sabbyanandan your scheduler config is wrong, `scheduler.url` should be `scheduler.scheduler-url`. If that's wrong then you will get error with all schedule request if scheduling is enabled.

[2021-05-28 08:19] jvalkeal commented on #4539
Regarding NPE in this issue, `spring.cloud.dataflow.server.uri` should probably point to `https` address. You probably don't have anything running there right now so it's difficult to see where things go wrong.

This NPE would be thrown if resolving `TaskTemplate` endpoint somewhat fails and this is done based on server address. Most likely misconfiguration around server settings. Bound routes may

[2021-05-28 17:52] sabbyanandan opened #4547 "Upgrade to Task 2.3.3"
Depends on https://github.com/spring-cloud/spring-cloud-task/pull/783.

Addresses an issue reported by users using Azure SQL Server.

@cppwfs / @mminella thinks there will be a migration chore associated with this patch release upgrade.

[2021-05-28 17:57] sabbyanandan opened #4548 "Destroying tasks on TAS leaves the droplet around, causing Task CD conflicts"
Steps to reproduce:
1- Schedule to launch `timestamp` every 1 minute (task name = `foo`).
2- Launches working great.
3- `cf apps` shows the task droplet.
4- Destroy task definition in SCDF (task destroy ..).
5- Definition in SCDF is gone; the schedule is also deleted. However, the cf apps still show the OLD droplet - why?

---

6- Now, register a new version of the `timestamp` and make that the ne

[2021-05-28 17:58] sabbyanandan commented on #4548
The destroy function doesn't take the platform account into account also. The following method in its entirety needs to be reviewed.

https://github.com/spring-cloud/spring-cloud-dataflow/blob/6b84e5e8dd0ce0c2e90ac98c32fc0c0f1f7883b6/spring-cloud-dataflow-server-core/src/main/java/org/springframework/cloud/dataflow/server/service/impl/DefaultTaskDeleteService.java#L389-L404

[2021-05-28 18:12] sabbyanandan commented on #4548
@jvalkeal @ilayaperumalg: if we can find a way to get this in 2.8.0, it'd be great. Otherwise, we can continue to keep it in 2.8.1.

[2021-05-28 19:09] ilayaperumalg commented on #4547
SCDF is currently on task 2.3.0. I hope 2.3.3 doesn't bring any significant changes since 2.3.0 (given we are close to doing the release).

@jvalkeal Do you think of anything else we need to capture apart from the above mentioned migration and https://build.spring.io/browse/SCD-SCDFMDI ?

[2021-05-28 19:31] #4186 closed

[2021-06-01 07:43] jvalkeal commented on #4547
Well, there is no 2.3.3 yet. We can look this for future releases.

[2021-06-01 08:19] pari205 commented on #3706
I am facing the same challenges, Are there any fixes around this?

[2021-06-01 11:16] jvalkeal commented on #4540
Well, it's actually correct per `scheduler.scheduler-url`.

[2021-06-01 11:16] #4540 closed

[2021-06-01 11:19] jvalkeal commented on #4537
This somehow has to be configuration issue around server address.

[2021-06-01 13:04] cppwfs opened #4549 "CTR return a meaningful exception if scdf is misconfigured"
When CTR attemps to utilize task operations but the /tasks/definitions endpoint can't be reached it currently throws a NPE.   CTR should return a meaningful message if it can't create a taskOperations object.

[2021-06-01 15:29] sabbyanandan commented on #4547
We need this in 2.8.0.

[2021-06-01 16:55] sabbyanandan commented on #4539
A few new errors after the config changes:

**error 1:**
[code]

[2021-06-01 16:55] sabbyanandan commented on #4539
**error 2:**
[code]